/*addCourse.htm, addInstitution.htm, createAgreement.htm, index.htm, removeAgreement.htm, selectedInstitution.htm, viewAgreementsByCourses.htm, viewAgreementsByPrograms.htm, viewAgreementsIndex.htm, viewCourse.htm, viewInstitutions.htm,   */


/* Style For All Pages */

/*To Disable resize of text area*/
textarea{
    resize: none;
}


/* For JavaScript*/
.nav-placeholder{
    margin: 0px;
}

.fixed{
    position: fixed;
    top: 0;
    min-width: 100%;
}


/*End classes for JavaScript */


/*
    Logo for CRRC
*/
img[class="CRRClogo"]{
    width: 390px; height: 130px;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

header
{
    background-color: white;
}

footer
{
    background-color: white;
}

body{
    background-color: white;
}
.TitleHeader{
	/*background-color: #bfefff;*/
	color: #2b1459;
width: 1200px;
text-align: center;
font-size: 18pt;
}

.container{
width: 1200px;
height: 1500px;
margin-left: auto;
margin-right: auto;
background-color: white;
border: 1px solid black;
}

.OutContainer
{
  /*  background-color: #858fa0; */
    margin: 0px;
}

/*Testing 1,2,3 (Navigation Bar) */
#DDNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: #085646;
}

#DDNavBar li {
    float: left;
}

#DDNavBar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#DDNavBar li a:hover, .dropdown:hover .dropbtn {
    background-color: #007ec7;
}

#DDNavBar li.dropdown {
    display: inline-block;
}

#DDNavBar .dropdown-content {
    display: none;
    position: absolute;
    background-color:#007ec7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#DDNavBar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#DDNavBar .dropdown-content a:hover {background-color: #007ec7;color:#8bdbf6}

#DDNavBar .dropdown:hover .dropdown-content {
    display: block;
}
/*End Testing */

/*End Style for all pages */


/*Add Institution/ Selected Institution*/
.institutionInformationTable{
border-style: solid;
border-width: 2px;
width: 500px;
height: 700px;
margin: 16px;
float:left;
}
.CAEDesignation{
border-style: solid;
border-width: 2px;
width: 625px;
height: 700px;
margin: 16px;
float:right;
}
h2[id="CAEDesignationHeader"]{
	margin: 5px;
	text-align: center;
	padding: 0px;
}
/*End Add Institution*/

/*Create Agreement*/
.createAgreementContainer .FromInstitute{
    margin:30px 0px 30px 110px;
}

.createAgreementContainer .ToInstitute
{
    margin: 30px 100px 30px 30px;
}

.createAgreementContainer #Continue
{
    margin: 20px;
}

/*End Create Agreement*/

/* Remove Agreement */
.removeAgreementContainer .viewAgreements{
border-style: solid;
border-width: 2px;
width: 470px;
height: 550px;
margin: 60px;
float:left;
}

.removeAgreementContainer .filterBy{
	border-style: solid;
border-width: 2px;
width: 470px;
height: 550px;
margin: 60px;
float:right;
}

.removeAgreementContainer select[id="selectAgreement"]{
	margin: 10px;
	text-align: center;
width: 440px;
height: 430px;
white-space: wrap;
font-size: 20pt;
}
/* End Remove Agreement */

/* View Agreements By Programs.htm */
.vbp_Container .vbp_InstituteA
{
   float:left;
    margin:0px 0px 0px 30px;
}

.vbp_Container .vbp_InstituteB
{
    float:right;
    margin:0px 30px 0px 0px;
}
/* End viewAgreementsByPrograms.htm */

/* View Course */
.viewCoursesContainer select[id="selectInstitution"]{
margin: 10px;
text-align: center;
width: 400px;
height: 300px;
white-space: wrap;
font-size: 20pt;
}

.viewCoursesContainer .courseListDiv{
border-style: solid;
border-width: 2px;
width: 470px;
height: 900px;
margin: 43px;
float:left;
}

.viewCoursesContainer .courseInfo{
border-style: solid;
border-width: 2px;
width: 550px;
height: 900px;
margin: 43px;
float:right;
}
/* End viewCourse.htm */

/* View Institution */
.viewInstitutionContainer .vi_selectInstituteDiv{
border-style: solid;
border-width: 2px;
width: 520px;
height: 500px;
margin: 20px;
float:left;
}

.viewInstitutionContainer select[id="vi_selectInstitution"]{
margin: 10px;
text-align: center;
width: 500px;
height: 430px;
white-space: wrap;
font-size: 20pt;
}

.viewInstitutionContainer .AdvancedOptions{
border-style: solid;
border-width: 2px;
width: 520px;
height: 500px;
margin: 20px;
float:right;
}

/* End View Institution */


/*##########################################################################################################################*/
/*CSS from Kevin's files*/

 input[class="addUserInput"]{
    display: inline-block;
    font-size: 12pt;
    padding: 3px 10px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px;
    width: 200px;
    height: 43px;
}
select[class="CmbBox"]{
    margin: 0px 0px 0px 5px;
    padding: 0px;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    font-size: 14pt;
    border-width:1px;
    border-color: black;
    margin: 2px;
}

input[class="commonBtn"], button[class="commonBtn"]{

    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin: 3px;
}
/*---------------------------------    Start of View User --------------------------------------------------*/
/* This is div viewUserMultiLineSelect for viewUsers page */
.viewUserContainer .viewUsersMultilineSelect{
    background-color: #858fa0;
	border: 1px solid black;
	border-radius: 10px;
	width: 450px;
	height: 400px;
 	margin: 20px ;
	float:left;
}

.viewUserContainer select[id="lstBoxselectUser_ViewUser"]{
	padding: 5px;
	margin: 10px;
	text-align: left;
    width: 400px;
    height: 300px;
    font-size: 20pt;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}


/* End of div viewUserMultiLineSelect for viewUsers page */


/* This is for Div filterBy in viewUserPage*/

.viewUserContainer div[class="filterByInViewUsers"]{
    background-color: #858fa0; 
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    margin: 20px 20px 20px 20px;
    float:right;
}



.viewUserContainer input[class="findUser"]{
   	width: 250px;
	height: 35px;
    border: 1px black solid;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 5px ;
    padding: 5px 7px;
    
}

.viewUserContainer option{
    font-size: 12pt;
}

/*.viewUserContainer input[type="submit"], button[class="commonBtn"]{

    font-size: 15px;
	border: 1px solid black;
	border-radius: 5px;
    width: 120px;
    height: 30px;
    margin: 3px;
}*/
/* This is end of div filterBy in view User*/
/*---------------------------------    End of View User --------------------------------------------------*/



/*---------------------------------    Start of View Program ----------------------------------------------------*/

/* Start of div multiLine select in view Programs */
.viewProgramContainer .viewProgramsMultilineSelect{
    background-color: #858fa0;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 550px;
    height: 400px;
    margin: 20px 20px 20px 20px;
    float:left;
}
.viewProgramContainer select[id="selectProgram"]{
	padding: 10px;
    margin: 10px;
	text-align: left;
    width: 530px;
    height: 300px;
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
    }

/* end of div multiLine select in view Programs */ 

/* Start of Filter by in View Programs */

.viewProgramContainer div[class="filterByInViewPrograms"]{
    background-color: #858fa0; 
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    margin: 20px 20px 20px 20px;
    float:right;
}

.viewProgramContainer p[id="lblPID_viewPrograms"]{
    margin: 15px 3px 10px 25px;
    float: left;
    text-align: center;
}
.viewProgramContainer input[class="commonBtn"]{
     font-size: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 3px;
    width: 90px;
    height: 30px;
    margin: 2px;
}

.viewProgramContainer p[id="adminTypeLabel"]{
	margin: 5px;
	width: 100px;
	padding: 0px;
	float:left;
    text-align: center;
}


/*---------------------------------    End of View Program ----------------------------------------------------*/

/*---------------------------------    Start of Add User ----------------------------------------------------*/

/* the Left side box*/
.addUserContainer .addUserForm{
	align-content:  right;
	width: 450px;
    height: 330px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px;
	border: 1px solid black;
	border-radius: 10px;
}

/* The right side box   */
.addUserContainer .institute_addUser{
	background-color: #858fa0;
	width: 400px;
	height: 325px;
	padding: 12px 20px;
	float: right;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px ;

}

/* End of institution box*/

/*---------------------------------    End of Add User---- ----------------------------------------------------*/

/*---------------------------------    Start of Add Program ----------------------------------------------------*/

 /* Start of Program Information */
div[class="addProgramContainer"]{
  margin-left: auto;
  margin-right: auto;
}

.addProgramContainer div[class="programInfoInAddProgram"]{
    align-content:  right;
	width: 1130px;
    height: 300px;
	background-color: #858fa0;
    padding: 10px;
	margin-left: auto; margin-right: auto;
	margin: 20px 5px 20px 20px;
	border:1px black solid;
	border-radius: 10px;
}

.addProgramContainer h4[class="programInformationHeader"]{
    margin:0px;
    text-align: center;
}

 /* End of Program Information */

/* Start Career Course Div 
.addProgramContainer div[id="CareerCoursesDiv"]{
    width: 450px;
    height: 420px;
	background-color: #858fa0;
	padding: 10px;
	float: left;
	margin: 20px 5px 20px 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
}
.addProgramContainer h4[class="careerCourseHeader"]{
    text-align: center;
    margin: 0px;
}

.addProgramContainer div[id="CareerCourseSubDiv"]{
    margin: 25px 5px 10px 5px;
    width: 400px;
    height: 110px;
}


.addProgramContainer textarea[class="textarea1InAddProgram"]{
  width:380px;
    height: 80px;
    border-width: 1px;
	border-color: black;
	border-radius: 5px;
    margin: 5px;
}


.addProgramContainer div[id="CareerCourseSubDiv"]{
    margin: 25px 5px 10px 5px;
    width: 400px;
    height: 110px;
}*/

/* For all drop down box in add program container to  select Institution, CAE designation and Degree*/
.addProgramContainer select{
    margin: 0px 0px 0px 5px;
	padding: 5px;
    text-align: center;
    width: 350px;
    border-radius: 5px;
    font-size: 13pt;
    border: 2px solid black; 
}


/* End Career Course Div */



/*Start of General Education div*/
/*
.addProgramContainer div[id="generalEduInSelectProgram"]{
     align-content:  right;
	width: 420px;
    height: 420px;
	background-color: #858fa0;
	padding: 10px;
	float: right;
	margin: 20px 20px 20px 5px;
	border: 1px solid black;
	border-radius: 10px;
}
.addProgramContainer select[class="selectProgramDropDown1"]{
    width: 400px;
    height: 150px;
    border:1px solid black;
    border-radius: 5px;
}
*/
/*End of General Education div*/

/*
.addProgramContainer h4[class="genEdReqHeader"]{
    text-align: center;
    margin: 0px;
}

*/


/*---------------------------------    End of Add Program ----------------------------------------------------*/

/*End of  Selected User by Kevin */




/*---------------------------------  Clark CSS ----------------------------------------------------------------*/

.InstitutionsContainer .institution
{
    padding: 10px;
    margin: 10px;
	text-align: left;
    width: 530px;
    height: 300px;
    font-size: 14pt;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.WhatFilter
{
    background-color: white;
}



/*---------------------------------  End Clark CSS ----------------------------------------------------------------*/