<div style="display: flex; margin: auto; width: 90%; padding: 10px;">
<form id="edit" method="post" action="/degrees/edit">
{% if object %}
<h2>Edit Degree</h2>
{% else %}
<h2>Create Degree</h2>
{% endif %}
<table>
<td align="right">Title:</td>
<td><input name="title" id="title" type="text" size="35" width="50" required="required"
{% if object %}
value="{{ object.title }}"
{% endif %}
/></td>
</tr>
<td align="right">Duration:</td>
<td><input name="duration" id="duration" type="text" size="35" width="250"
{% if object %}
value="{{ object.duration }}"
{% endif %}
/></td>
</tr>
</table>
{% if object %}
<input type="hidden" name="id" value="{{ object.degree_id }}"/>
{% endif %}
<input type="submit" value="Save"/>
</form>
</div>
