<script type="text/javascript">
  var titles = [];
  {% for degree in degrees %}
  titles.push( '{{ degree.title }}' );
  {% endfor %}

  function displayDegree( degreeId )
  {
    document.getElementById( `dv_${degreeId}` ).style.display = 'inline';
    return false;
  }

  function hideDegree( degreeId )
  {
    document.getElementById( `dv_${degreeId}` ).style.display = 'none';
  }

{% if user.role.id == globalAdminRole %}
  function displayForm( degreeId )
  {
    document.getElementById( `de_${degreeId}` ).style.display = 'inline';
  }

  function addDegree( json, form )
  {
    let content = `<div><a href="#" onclick="return displayDegree( ${json.id} );">${form.title.value}</a></div>
    <div id="dv_${json.id}" style="display: none;">
      <h3>Title: ${form.title.value}</h3>
      <strong>Duration:</strong> ${form.duration.value}<br/>
      <button onclick="displayForm( ${json.id} )">Edit</button>
      <button onclick="deleteDegree( ${json.id}, '${form.title.value}' )">Delete</button>
      <button onclick="hideDegree( ${json.id} )">Close</button>
      <br/>
      <q id="dw_${json.id}" class="warning" style="display: none;"></q>
    </div>
    <div id="de_${json.id}" style="display: none;">
      <form id="df_${json.id}" onsubmit="return update( ${json.id}, '${form.title.value}' );">
        <input type="hidden" name="id" value="${json.id}" />
        <label class="label">Title:</label>
        <input type="text" name="title" value="${form.title.value}" required pattern="[^'\x22]+" title="Quotes not allowed"/><br/>
        <label class="label">Duration:</label>
        <input type="text" name="duration" value="${form.duration.value}" /><br/>
        <input type="submit" value="Save" />
        <button onclick="hideForm( ${json.id} )">Close</button>
      </form>
    </div>`;

    let div = document.createElement( 'div' );
    div.id = `d_${json.id}`;
    div.innerHTML = content;

    document.getElementById( 'degrees' ).appendChild( div );
  }

  function update( degreeId, currentTitle )
  {
    function showWarning( message )
    {
      let cw = document.getElementById( `dw_${degreeId}` )
      cw.innerText = message;
      cw.style.display = 'inline';
    }

    let form = document.getElementById( `df_${degreeId}` );
    if ( !form.title.validity.valid ) return false;

    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', `/degrees/id/${degreeId}/update` );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onload = function ()
    {
      if ( xhr.status === 200 )
      {
        console.log( xhr.responseText );
        let json = JSON.parse( xhr.responseText );
        if ( json.status )
        {
          let element = document.getElementById( `d_${degreeId}` );

          let index = titles.indexOf( currentTitle );
          if ( index >= 0 ) titles.splice( index, 1 );
          titles.push( form.title.value );

          element.parentElement.removeChild( element );
          addDegree( json, form );
          hideForm( degreeId );
        }
        else
        {
          showWarning( 'Unable to update degree with specified values.  Please try changing the title without any quote characters.' );
        }
      }
      else
      {
        showWarning( 'Unable to update degree.  Please try again later.' );
      }
    };
    xhr.send( encodeURI( `id=${degreeId}&title=${form.title.value}&duration=${form.duration.value}` ) );

    return false;
  }

  function deleteDegree( degreeId, title )
  {
    

    if ( !confirm( `Do you wish to permanently delete ${title}?` ) ) return false;
    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/degrees/remove' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onload = function ()
    {
      if ( xhr.status === 200 )
      {
        console.log( xhr.responseText );
        let json = JSON.parse( xhr.responseText );
        if ( json.status && json.count === 1 )
        {
          let element = document.getElementById( `d_${degreeId}` );
          let index = titles.indexOf( title );
          if ( index >= 0 ) titles.splice( index, 1 );
          element.parentElement.removeChild( element );
        }
        else
        {
          document.getElementById( `dw_${degreeId}` ).innerText = 'Unable to delete degree from the server.  Please try again later.';
        }
      }
      else
      {
        document.getElementById( `dw_${degreeId}` ).innerText = 'Unable to delete degree from the server.  Please try again later.';
      }
    };
    xhr.send( `id=${degreeId}` );
  }

  function deleteDegree2()
  {
    let select = document.getElementById("selectDegree");
    let degreeId = select.options[select.selectedIndex].value;
    let degreeTitle = select.options[select.selectedIndex].text;
    if(degreeId == -1){
        console.log("not selected");
    }
    else{
          if ( !confirm( "Do you wish to permanently delete " + degreeTitle + "?" ) ) return false;
          let xhr = new XMLHttpRequest();
          xhr.open( 'POST', '/degrees/remove' );
          xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
          xhr.onload = function ()
          {
            if ( xhr.status === 200 )
            {
              console.log( xhr.responseText );
              let json = JSON.parse( xhr.responseText );
              if ( json.status && json.count === 1 )
              {
                let element = document.getElementById( `d_${degreeId}` );
                let index = degreeId;
                //let index = titles.indexOf( title );
                if ( index >= 0 ) titles.splice( index, 1 );
                element.parentElement.removeChild( element );
              }
              else
              {
                document.getElementById( `dw_${degreeId}` ).innerText = 'Unable to delete degree from the server.  Please try again later.';
              }
            }
            else
            {
              document.getElementById( `dw_${degreeId}` ).innerText = 'Unable to delete degree from the server.  Please try again later.';
            }
          };
          xhr.send( `id=${degreeId}` );
    }
    
    
  }
  function hideForm( degreeId )
  {
    document.getElementById( `de_${degreeId}` ).style.display = 'none';
  }

  function displayCreate()
  {
    document.getElementById( 'create' ).style.display = 'inline';
    document.getElementById( 'createButton' ).style.display = 'none';
  }

  function createDegree( form )
  {
    function showWarning( message )
    {
      let cw = document.getElementById( 'createWarning' );
      cw.style.display = 'inline';
      cw.innerText = message;
    }

    if ( titles.indexOf( form.title.value ) === -1 )
    {
      let xhr = new XMLHttpRequest();
      xhr.open( 'POST', '/degrees/create' );
      xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
      xhr.onload = function ()
      {
        if ( xhr.status === 200 )
        {
          titles.push( form.title.value );
          console.log( xhr.responseText );
          let json = JSON.parse( xhr.responseText );
          if ( json.status )
          {
            addDegree( json, form );
            hideCreate();
            document.getElementById( 'createButton' ).style.display = 'inline';
          }
          else
          {
            showWarning( 'Unable to create degree.  Please try again later.' );
          }
        }
        else
        {
          showWarning( 'Unable to access server.  Please try again later.' );
        }
      };
      xhr.send( encodeURI( `title=${form.title.value}&duration=${form.duration.value}` ) );
    }
    else
    {
      showWarning( `Course with title: ${form.title.value} exists.` );
    }

    return false;
  }

  function hideCreate()
  {
    document.getElementById( 'create' ).style.display = 'none';
    document.getElementById( 'createWarning' ).style.display = 'none';
    document.getElementById( 'createButton' ).style.display = 'inline';
    let form = document.getElementById( 'createDegree' );
    form.title.value = '';
    form.duration.value = '';
  }
{% endif %}



function displayDegreeDetails(){
  
    let select = document.getElementById("selectDegree");
    let degreeId = select.options[select.selectedIndex].value;
    let degreeTitle = select.options[select.selectedIndex].text;
    {degree.id} = degreeId;
    console.log("id = " + degreeId + " - title = " + degreeTitle) ;

    document.getElementById("displayTitle").innerText = degreeTitle;
    document.getElementById( degreeId ).style.display = 'inline';
}
</script>

<div style="margin-left: auto;margin-right: auto;">
  <h2>Manage Degrees</h2>
  <div>
    <div style="display:inline-block; float: left; hidden; width: 100px;"></div>
    <div style="display:inline-block; float: right; padding: 10px;">
      <form name="search" method="post" action="/degrees/search">
      <input type="text" name="text" style="background-image: url(/static/rw_common/themes/business/images/searchicon.png);background-repeat: no-repeat;padding: 0px 0px 0px 25px;background-position: 3px 3px; " class="addUserInput" placeholder="Search by name..."/><input class="commonBtn" type="submit" value="Find"/>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div>
  {% if searchText %}
  <h3>Search results for ({{ searchText }})</h3>
  {% endif %}
  <div  style="background-color: gray;width: 600px; float: left">

  <select multiple id="selectDegree">
  <option value="-1" style="display: none" selected></option>
   {% for degree in degrees %}
    <option value="{{degree.id}}">{{degree.title}}</option>
    {% endfor %}
  </select>
  <script type="text/javascript">
        $('#selectDegree').dblclick(function() {
                        displayDegreeDetails();

});
  </script>
  <button class="commonBtn">View Details</button>
    <button class="commonBtn" onclick="deleteDegree2()">Delete</button>
  </div>
  <div style="background-color: gray;width: 400px; height: 300px; float: right">
  Title: <p id="displayTitle"></p>
  </div>
  <div style="clear: both;"></div>
  <div id="degrees">
    {% for degree in degrees %}
    <div id="d_{{ degree.id }}">
      <div><a href="#" onclick="return displayDegree( {{ degree.id }} );">{{ degree.title }}</a></div>
      <div id="dv_{{ degree.id }}" style="display: none;">
        <h3>Title: {{ degree.title }}</h3>
        {% if degree.duration %}
        <strong>Duration:</strong> {{ degree.duration }}<br/>
        {% endif %}
        {% if user.role.id == globalAdminRole %}
        <button class="commonBtn" onclick="displayForm( {{ degree.id }} )">Edit</button>
        <button class="commonBtn" onclick="deleteDegree( {{ degree.id }}, '{{ degree.title }}' )">Delete</button>
        {% endif %}
        <button class="commonBtn" onclick="hideDegree( {{ degree.id }} )">Close</button>
        <br/>
        <q id="dw_{{ degree.id }}" class="warning" style="display: none;"></q>
      </div>
      <div id="de_{{ degree.id }}" style="display: none;">
        <form id="df_{{ degree.id }}" onsubmit="return update( {{ degree.id }}, '{{ degree.title }}' );">
          <input type="hidden" name="id" value="{{ degree.id }}" />
          <label class="label">Title:</label>
          <input type="text" class="addUserInput" name="title" value="{{ degree.title }}" required pattern="[^'\x22]+" title="Quotes not allowed"/><br/>
          <label class="label">Duration:</label>
          <input type="text" class="addUserInput" name="duration" value="{{ degree.duration }}" /><br/>
          <input class="commonBtn" type="submit" value="Save" />
          <button class="commonBtn" onclick="hideForm( {{ degree.id }} )">Close</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="create" style="display:none">
    <form id="createDegree" onsubmit="return createDegree(this);">
      <label class="label">Title:</label>
      <input class="addUserInput" type="text" name="title" required pattern="[^'\x22]+" title="Quotes not allowed"/>
      <br/>
      <label class="label">Duration:</label>
      <input class="addUserInput" type="text" name="duration" />
      <br/>
      <input class="commonBtn" type="submit" value="Create"/>
      <button class="commonBtn" onclick="hideCreate()">Cancel</button>
    </form>
    <q id="createWarning" class="warning" style="display: none;"></q>
  </div>
  {% if user.role.id == globalAdminRole %}
  <br/>
  <button class="commonBtn" id="createButton" onclick="displayCreate()">Add Degree</button>
  {% endif %}
</div>
