<script type="text/javascript">
  function previewLogo( file )
  {
    if ( !file ) return;
    let div = document.getElementById( 'logoPreview' );
    div.style.display = 'inline';

    let img = document.createElement( 'img' );
    img.file = file;
    img.width = 100;
    div.appendChild( img );

    let reader = new FileReader();
    reader.onload = ( function ( aImg ) { return function ( e ) { aImg.src = e.target.result; }; } )( img );
    reader.readAsDataURL( file );
  }

  function uploadLogo( file )
  {
    if ( !file ) return;

    let button = document.getElementById( 'save' );
    button.disabled = true;

    let formData = new FormData();
    formData.append( 'image', file );

    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/logos/create' );
    xhr.onload = function ()
    {
      if ( 200 === xhr.status )
      {
        console.log( `Logo upload response: ${xhr.responseText}` );
        let json = JSON.parse( xhr.responseText );
        let input = document.createElement( 'input' );
        input.type = 'hidden';
        input.value = json.id;
        input.name = 'logoId';
        input.id = 'logoId';
        document.forms[0].appendChild( input );
      }
      else
      {
        let div = document.getElementById( 'logoPreview' );
        while ( div.firstChild ) div.removeChild( div.firstChild );
        let text = document.createTextNode( 'Error uploading logo image to server.  Please try again later' );
      }

      button.disabled = false;
    };
    xhr.send( formData );
  }

  function checkUnique( form )
  {
    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/institutions/checkUnique' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onreadystatechange = function ()
    {
      let element = document.getElementById( 'nameWarning' );
      let response = xhr.responseText;
      console.log( `Check to see if institution ${form.name.value} in city ${form.city.value} exists returned ${response}.` );

      if ( 4 === xhr.readyState && 200 === xhr.status )
      {
        let available = 'true' === xhr.responseText;
        if ( !available )
        {
          element.style.display = 'inline';
          form.name.focus();
        }
        else
        {
          element.style.display = 'none';
          form.submit();
        }
      }
      else
      {
        element.style.display = 'inline';
        element.innerHTML = 'Unable to access server to validate name/city.  Please try again later';
      }
    };
    xhr.send( encodeURI( `name=${form.name.value}&city=${form.city.value}` ) );
  }

  function validate()
  {
    let form = document.forms[0];
    if ( form.id ) form.submit();
    else checkUnique( form );
  }
</script>

<div style="display: flex; margin: auto; width: 90%; padding: 10px;">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>
        <form id="edit" method="post" action="/institutions/edit" onsubmit="return false;">
          {% if object %}
          <h2>Edit Institution</h2>
          {% else %}
          <h2>Create Institution</h2>
          {% endif %}
          <label class="label">Name:</label>
          <input name="name" id="name" type="text" size="35" width="50" required="required"
                 {% if object %}value="{{ object.name }}" {% endif %} />
          <q id="nameWarning" class="warning" style="display: none;">Institution with specified name already exists in this city.</q>
          <br />
          <label class="label">Address:</label>
          <input name="address" id="address" type="text" size="35" width="250"
                 {% if object %}value="{{ object.address }}" {% endif %} />
          <br />
          <label class="label">City:</label>
          <input name="city" id="city" type="text" size="35" width="100" required
                 {% if object %}value="{{ object.city }}" {% endif %} />
          <br />
          <label class="label">State:</label>
          <input name="state" id="state" type="text" size="35" width="100"
                 {% if object %}value="{{ object.state }}" {% endif %} />
          <br />
          <label class="label">Postal Code:</label>
          <input name="postalCode" id="postalCode" type="text" size="35" width="100"
                 {% if object %}value="{{ object.postal_code }}" {% endif %} />
          <br />
          <label class="label">Country:</label>
          <input name="country" id="country" type="text" size="35" width="100" value={% if object %}"{{ object.country }}"{% else %}USA{% endif %} />
          <br />
          <label class="label">Website:</label>
          <input name="website" id="website" type="text" size="35" width="250"
                 {% if object %}value="{{ object.website }}" {% endif %} />
          <br />
          {% if object %}
          <input type="hidden" name="id" value="{{ object.institution_id }}" />
          {% endif %}
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form id="logoUploadForm" onsubmit="return false;">
          <label class="label">Logo:</label>
          {% if object.logo %}
          <img src="/logos/{{ object.logo.id }}/display" id="logoImage" width="100" />
          <input type="hidden" name="logoId" value="{{ object.logo.id }}" />
          {% else %}
          <input type="file" id="logo" accept="image/*" />
          <span id="logoPreview" style="display: none;"></span>
          {% endif %}
          <br />
        </form>
        <button id="save" onclick="validate()">Save</button>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  let fileElement = document.getElementById( 'logo' );
  fileElement.addEventListener( 'change', function ()
  {
    previewLogo( this.files[0] );
    uploadLogo( this.files[0] );
  } );
</script>
