<script type="text/javascript">
    
  function previewLogo( file )
  {
    if ( !file ) return;
    let div = document.getElementById( 'logoPreview' );
    div.style.display = 'inline';

    let img = document.createElement( 'img' );
    img.file = file;
    img.width = 100;
    div.appendChild( img );

    let reader = new FileReader();
    reader.onload = ( function ( aImg ) { return function ( e ) { aImg.src = e.target.result; }; } )( img );
    reader.readAsDataURL( file );
  }

  function uploadLogo( file )
  {
    if ( !file ) return;

    let button = document.getElementById( 'save' );
    button.disabled = true;

    let formData = new FormData();
    formData.append( 'file', file );

    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/logos/create' );
    xhr.onload = function ()
    {
      if ( 200 === xhr.status )
      {
        console.log( `Logo upload response: ${xhr.responseText}` );
        let json = JSON.parse( xhr.responseText );
        let input = document.createElement( 'input' );
        input.type = 'hidden';
        input.value = json.id;
        input.name = 'logoId';
        input.id = 'logoId';
        document.forms[0].appendChild( input );
      }
      else
      {
        let div = document.getElementById( 'logoPreview' );
        while ( div.firstChild ) div.removeChild( div.firstChild );
        let text = document.createTextNode( 'Error uploading logo image to server.  Please try again later' );
      }

      button.disabled = false;
    };
    xhr.send( formData );
  }

  function checkUnique( form )
  {
    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/institutions/checkUnique' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onreadystatechange = function ()
    {
      let element = document.getElementById( 'nameWarning' );
      let response = xhr.responseText;
      console.log( `Check to see if institution ${form.name.value} in city ${form.city.value} exists returned ${response}.` );

      if ( 4 === xhr.readyState && 200 === xhr.status )
      {
        let available = 'true' === xhr.responseText;
        if ( !available )
        {
          element.style.display = 'inline';
          form.name.focus();
        }
        else
        {
          element.style.display = 'none';
          form.submit();
        }
      }
      else
      {
        element.style.display = 'inline';
        element.innerHTML = 'Unable to access server to validate name/city.  Please try again later';
      }
    };
    xhr.send( encodeURI( `name=${form.name.value}&city=${form.city.value}` ) );
  }

  function validate()
  {
    let form = document.forms[0];
    if ( form.id ) form.submit();
    else checkUnique( form );
  }
    
    /***********************************************************/
    var ITypeList = [];
    getInstitutionTypes();
    function getInstitutionTypes()
    {
        let types = [];
        let xhr = new XMLHttpRequest();
        xhr.open( 'POST', '/institutionTypes' );
        xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
        xhr.onload = function ()
            {
                if ( xhr.status === 200 && xhr.readyState == 4)
                    {            
                        console.log( xhr.responseText );
                        ITypeList = JSON.parse( xhr.responseText );
                        //console.log(ITypeList);
                        populateITypes();
                    }
                else
                    {
                        console.log( `Unable to retrieve Institution Type list.  Server returned status: ${xhr.status}` );
                    }
            };
       xhr.send( '' );
    }
    
    function populateITypes(){
                     
                         let element = document.getElementById('institutionTypeId');
                     
                         let optionDefault = document.createElement( 'option' );
                         optionDefault.value = -1;
                         //optionDefault.textContent = "";
                       //  element.appendChild(optionDefault); 

                         for (var i = 0; i < ITypeList.length; ++i){
                           
                            //console.log(ITypeList.id);
                             let option = document.createElement( 'option' );
                             option.value = ITypeList[i].id;
                             option.textContent = ITypeList[i].name;  
                             element.appendChild( option );           
                         }
                     }
</script>

<div id="institutionInfo" style="width: 90%; padding: 10px; align:center">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>
        <form id="edit" method="post" action="/institutions/edit" onsubmit="return false;">
          {% if object %}
          <h2 align="center">Edit Institution</h2>
          {% else %}
          <h2 align="center">Create Institution</h2>
          {% endif %}
            
            <table>
                <tr>
                    <td>
                        <label class="label">Institution Name:</label>
                    </td>
                    <td>
                        <input name="name" class="addUserInput" id="name" type="text" size="35" width="50" required="required"
                 {% if object %}value="{{ object.name }}" {% endif %} />
                     <q id="nameWarning" class="warning" style="display: none;">Institution with specified name already exists in this city.</q>   
                    </td>
                </tr>
                
                <!-- -->
                <tr>
                    <td>
                        <label class="label">Institution Type:</label>
                        
                    </td>
                    
                    <td>
                        <select id="institutionTypeId" style="width:250px" class="CmbBox">
                            {% for institution in institutions %}
                            <option value="{{ object.institutionType.id }}"
                                    {% if institutionType.name == object.institutionType.name %}selected="selected" {% endif %}>
                                {{ object.institutionType.name }}
                            </option>
                            {% endfor %}

                            
                        </select>
                    </td>
                </tr>
                
                <!-- -->
                
                <tr>
                    <td>
                        <label class="label">Address:</label>
                    </td>
                    <td>
                        <input name="address" id="address" class="addUserInput" type="text" size="35" width="250"
                 {% if object %}value="{{ object.address }}" {% endif %} />
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label class="label">City:</label>
                    </td>
                    
                    <td>
                        <input name="city" id="city" type="text" size="35" class="addUserInput" width="100" required
                 {% if object %}value="{{ object.city }}" {% endif %} />
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label class="label">State:</label>
                    </td>
                    
                    <td>
                        <!--console.log({{ object.state }});-->
                        <select name="state" id="state" style="width:250px" class="CmbBox">
                         <option value= {{object.state}} > {{object.state}} </option>   
                         <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>	
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>	
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>	
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>	
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>			
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>	
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>  
                            
                        </select>
                        <script>
                        
                        var stateOptions = [];
                        var stateOptionsText = [];
                            $('#state option').each(function(){
                                stateOptions.push($(this).val());
                                stateOptionsText.push($(this).text());
                            });
                            
                            
                        console.log({{object.state}});
	                            
                        
                        </script>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label class="label">Postal Code:</label>
                    </td>
                    <td>
                        <input name="postalCode" id="postalCode" type="text" size="35" class="addUserInput" width="100"
                 {% if object %}value="{{ object.postal_code }}" {% endif %} />
                    </td>
                </tr>
                
                <tr>
                    <td>
                       <label class="label">Country:</label> 
                    </td>
                    <td>
                        <input name="country" id="country" type="text" class="addUserInput" size="35" width="100" value="{% if object %}{{ object.country }}{% else %}USA{% endif %}" />
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label class="label">URL:</label>
                    </td>
                    <td>
                        <input name="website" id="website" type="text" size="35" class="addUserInput"
                 {% if object %}value="{{ object.website }}" {% endif %} />
                    </td>
                </tr>
                
            </table>
          {% if object %}
          <input type="hidden" name="id" value="{{ object.id }}" />
          {% endif %}
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form id="logoUploadForm" onsubmit="return false;">
          <label class="label">Logo:</label>
          {% if object.logo %}
          <img src="/logos/{{ object.logo.id }}/display" id="logoImage" width="100" />
          <input type="hidden" name="logoId" value="{{ object.logo.id }}" />
          {% else %}
          <input type="file" id="logo" accept="image/*" />
          <span id="logoPreview" style="display: none;"></span>
          {% endif %}
          <br />
        </form>
          <p align=center>
        <button id="save" onclick="validate()" class="commonBtn">Save</button>
          </p>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  let fileElement = document.getElementById( 'logo' );
  fileElement.addEventListener( 'change', function ()
  {
    previewLogo( this.files[0] );
    uploadLogo( this.files[0] );
  } );
</script>
