<script type="text/javascript">
  function check( form )
  {
    return confirm( 'Do you wish to permanently delete the institution?' );
  }

</script>
<div>
  <h2>Manage Institutions</h2>
  <div>
    <div style="display:inline-block; float: left; padding: 10px;"><a href="/institutions/create" style="float: left;">{% if globalAdminRole == user.role.id %}Create Institution{% endif %}</a></div>
    <div style="display:inline-block; overflow: hidden; width: 100px;"></div>
    <div style="display:inline-block; float: right; padding: 10px;">
      <form name="search" method="post" action="/institutions/search">
      <input type="text" name="text" placeholder="Search by name..."/><input type="submit" value="Find"/>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div>
  {% if searchText %}
  <h3>Search results for ({{ searchText }})</h3>
  {% endif %}
  <div id="institutions">
    {% for institution in institutions %}
    <a href="/institutions/id/{{ institution.institution_id }}/view">{{ institution.name }}</a>
    {% if globalAdminRole == user.role.id or institutionAdminRole == user.role.id %}
      {% if globalAdminRole == user.role.id or userInstitution.institution_id == institution.institution_id %}
      - <form action="/institutions/remove" method="post" style="display: inline-block;" onsubmit="return check( this );">
        <input type="hidden" name="id" value="{{ institution.institution_id }}"/>
        <input type="submit" value="Delete" />
      </form>
      {% endif %}
    {% endif %}
    <br/>
    {% endfor %}
  </div>
</div>
