<div>
  <h3>Name: {{ object.name }}</h3>
  {% if object.logo %}
  <img src="/logos/id/{{ object.logo.id }}/display" style="max-width: 200px;"/><br />
  {% endif %}
  {% if object.address %}
  <strong>Address:</strong> {{ object.address }}<br />
  {% endif %}
  {% if object.city %}
  <strong>City:</strong> {{ object.city }}<br />
  {% endif %}
  {% if object.state %}
  <strong>State:</strong> {{ object.state }}<br />
  {% endif %}
  {% if object.postal_code %}
  <strong>ZIP/Postal Code:</strong> {{ object.postal_code }}<br />
  {% endif %}
  {% if object.country %}
  <strong>Country:</strong> {{ object.country }}<br />
  {% endif %}
  {% if object.website %}
  <strong>Website:</strong> <a href="{{ object.website }}">{{ object.website }}</a><br />
  {% endif %}
  <strong>Designations:</strong>
  <a href="/institution/designations/id/{{ object.id }}/view">View</a>
  {% if globalAdminRole == user.role.id or institutionAdminRole == user.role.id %}
    {% if globalAdminRole == user.role.id or userInstitution.id == object.id %}
  | <a href="/institution/designations/id/{{ object.id }}/edit">Edit</a>
    {% endif %}
  {% endif %}
  <br/>
  <strong>Departments:</strong>
  <a href="/institution/departments/id/{{ object.id }}/list">View</a><br/>

  {% if globalAdminRole == user.role.id or institutionAdminRole == user.role.id %}
    {% if globalAdminRole == user.role.id or userInstitution.id == object.id %}
  <div>
    <form id="details" method="post" action="/institutions/id/{{ object.id }}/update" style="display: inline-block;">
      <input type="submit" value="Edit" />
    </form>
    <form action="/institutions/remove" method="post" style="display: inline-block;">
      <input type="hidden" name="id" value="{{ object.id }}" />
      <input type="submit" value="Delete" />
    </form>
  </div>
    {% endif %}
  {% endif %}
</div>
