<script type="text/javascript">
  if ( !window.console ) { window.console = function () { }; }

  function validate( form )
  {
    let element = document.getElementById( 'warning' );
    if ( !( form.transfer_program_id.value > 0 ) )
    {
      element.innerHTML = 'Please select a transfer program';
      return false;
    }

    if ( !( form.transferee_program_id.value > 0 ) )
    {
      element.innerHTML = 'Please select a transferee program';
      return false;
    }

    return true;
  }
</script>
<div style="display: flex; margin: auto; width: 90%; padding: 10px;">
  <form id="edit" method="post" action="/institution/program/relations/edit" onsubmit="return validate( this );">
    <input type="hidden" name="agreement_id" value="{{ object.agreement_id }}" />
    <h2>Create Institutional Program Transfer Agreement</h2>
    <table>
      <tr>
        <td align="right">Transfer Program:</td>
        <td>
          <select name="transfer_program_id" id="transfer_program_id" required="required">
            {% for program in transferPrograms %}
            <option value="{{ program.program_id }}">{{ program.title }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">Transferee Program:</td>
        <td>
          <select name="transferee_program_id" id="transferee_program_id" required="required">
            {% for program in transfereePrograms %}
            <option value="{{ program.program_id }}">{{ program.title }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr><td><div id="warning" class="warning"></div></td></tr>
    </table>
    <input type="submit" value="Save" />
  </form>
</div>
