{% if globalAdminRole == user.role.id or institutionAdminRole == user.role.id %}
  {% if globalAdminRole == user.role.id or userInstitution.id == object.id %}
<script type="text/javascript">
  function update( form )
  {
    form.disabled = true;
    let xhr = new XMLHttpRequest();
    let url = form.designationId.checked ?
      '/institution/designations/save' : '/institution/designations/remove';
    xhr.open( 'POST', url );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onreadystatechange = function ()
    {
      if ( 4 === xhr.readyState && 200 === xhr.status )
      {
        console.log( `Updated designation.  ${xhr.responseText}` );
        let json = JSON.parse( xhr.responseText );
        if ( json.status ) location.reload( true );
        else form.disabled = false;
      }
    };
    xhr.send( encodeURI( `institutionId=${form.institutionId.value}&designationId=${form.designationId.value}&expiration=${form.expiration.value}` ) );

    return false;
  }

  function add( form )
  {
    form.disabled = true;
    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/institution/designations/save' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onload = function ()
    {
      if ( 200 === xhr.status )
      {
        console.log( `Added designation.  ${xhr.responseText}` );
        let json = JSON.parse( xhr.responseText );
        if ( json.status ) location.reload( true );
        else
        {
          form.disabled = false;
          if ( isValid( json.error ) )
          {
            let warning = document.getElementById( `dw_${form.institutionId.value}` );
            warning.style.display = 'inline';
            warning.innerText = json.error;
          }
        }
      }
    };
    xhr.send( encodeURI( `institutionId=${form.institutionId.value}&designationId=${form.designationId.value}&expiration=${form.expiration.value}` ) );

    return false;
  }
</script>

<table>
  <tr><td><h3>Current designations in {{ object.name }}</h3></td></tr>
  <tr><td><div id="members">
    {% for member in members %}
    <form method="post" action="/institution/designations/save" onsubmit="return update(this);">
      <input type="hidden" name="institutionId" value="{{ member.institution.id }}" />
      <div style="width:100%;">
        <div style="float: left; width: 55%;"><input type="checkbox" name="designationId" value="{{ member.designation.id }}" checked/>{{ member.designation.title }}</div>
        <div style="float: right; width: 20%;"><input type="submit" value="Update" /></div>
        <div style="float: none; width: 20%; display: inline;">
          <select name="expiration" style="width: 5em;">
            {% for year in years %}
            <option {% if year == member.expiration %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="clear: both;"></div>
      </div>
    </form>
    {% endfor %}
  </div></td></tr>
  <tr><td><h3>Add designations to {{ object.name }}</h3></td></tr>
  <tr><td><div id="nonmembers">
    {% for designation in designations %}
    <form method="post" action="/institution/designations/save" onsubmit="return add(this);">
      <input type="hidden" name="institutionId" value="{{ object.id }}" />
      <div style="width:100%;">
        <div style="float: left; width: 55%;"><input type="hidden" name="designationId" value="{{ designation.id }}" />{{ designation.title }}</div>
        <div style="float: right; width: 20%;"><input type="submit" value="Add" /></div>
        <div style="float: none; width: 20%; display: inline;">
          <select name="expiration" style="width: 5em; display: inline;">
            {% for year in years %}
            <option>{{ year }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="clear: both;"></div>
        <q id="dw_{{ designation.id }}" class="warning" style="display: none;"></q>
      </div>
    </form>
    {% endfor %}
</div></td></tr></table>
  {% endif %}
{% endif %}
