<div>
  <h3>Designations for {{ object.name }}</h3>
  <table border="0" cellspacing="5" cellpadding="5">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <td>{{ member.designation.title }}</td>
        <td>{{ member.expiration }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% if globalAdminRole == user.role.id or institutionAdminRole == user.role.id %}
    {% if globalAdminRole == user.role.id or userInstitution.id == object.id %}
  <a href="/institution/designations/id/{{ object.id }}/edit">Edit Designations</a><br />
    {% endif %}
  {% endif %}
</div>
