<script type="text/javascript">
  function uploadDocument( file )
  {
    if ( !file ) return;

    let button = document.getElementById( 'save' );
    button.disabled = true;

    let formData = new FormData();
    formData.append( 'document', file );

    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/agreements/edit' );
    xhr.onreadystatechange = function ()
    {
      if ( 4 === xhr.readyState && 200 === xhr.status )
      {
        console.log( `Agreement upload response: ${xhr.responseText}` );
        let json = JSON.parse( xhr.responseText );
        let input = document.createElement( 'input' );
        input.type = 'hidden';
        input.value = json.id;
        input.name = 'agreement_id';
        input.id = 'agreementId';
        document.forms[1].appendChild( input );
      }

      button.disabled = false;
    };
    xhr.send( formData );
  }

  function validate()
  {
    let form = document.forms[1];
    let transferInstitution = document.getElementById( 'transfer_institution_id' ).value;
    if ( ! ( transferInstitution > 0 ) )
    {
      alert( 'Please select a transfer institution' );
      return false;
    }

    let transfereeInstitution = document.getElementById( 'transferee_institution_id' ).value;
    if ( ! ( transfereeInstitution > 0 ) )
    {
      alert( 'Please select a transferee institution' );
      return false;
    }
    else if ( transferInstitution === transfereeInstitution )
    {
      alert( 'Please select a different transfer/transferee institution.' );
      return false;
    }

    form.submit();
  }
</script>

<div style="display: flex; margin: auto; width: 90%; padding: 10px;">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>
        <form id="edit" method="post" action="/agreements/edit" onsubmit="return false;">
          {% if object %}
          <h2>Edit Agreement</h2>
          {% else %}
          <h2>Create Agreement</h2>
          {% endif %}
          <h3>Upload agreement document.</h3>
          <div>
            <strong>Note:</strong>
            Filenames of documents being uploaded need to be unique.  It would be very difficult
            to distinguish between various documents uploaded to the system if file names
            were not unique.
          </div>
          <input name="document" id="document" type="file" required="required" size="50" accept="application/pdf" />
          {% if object %}
          <input type="hidden" name="id" value="{{ object.agreement_id }}" />
          {% endif %}
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form id="institutions" method="post" action="/agreements/institutions" onsubmit="return false;">
          <label>Transfer Institution</label>
          <select name="transfer_institution_id" id="transfer_institution_id" required="required">
            <option value="0">Select Institution</option>
            {% for institution in institutions %}
            <option value="{{ institution.institution_id }}">{{ institution.name }}</option>
            {% endfor %}
          </select><br />
          <label>Transferee Institution</label>
          <select name="transferee_institution_id" id="transferee_institution_id" required="required">
            <option value="0">Select Institution</option>
            {% for institution in institutions %}
            <option value="{{ institution.institution_id }}">{{ institution.name }}</option>
            {% endfor %}
          </select>
        </form>
        <button id="save" onclick="validate()">Save</button>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  let fileElement = document.getElementById( 'document' );
  fileElement.addEventListener( 'change', function ()
  {
    uploadDocument( this.files[0] );
  } );
</script>
