<div>
  <h2>Manage Agreements</h2>
  <div>
    <div style="display:inline-block; float: left; padding: 10px;"><a href="/agreements/create" style="float: left;">Create Agreement</a></div>
    <div style="display:inline-block; overflow: hidden; width: 100px;"></div>
    <div style="display:inline-block; float: right; padding: 10px;">
      <form name="search" method="post" action="/agreements/search">
      <input type="text" name="text" placeholder="Search by title..."/><input type="submit" value="Find"/>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div>
  {% if searchText %}
  <h3>Search results for ({{ searchText }})</h3>
  {% endif %}
  <ul>
    {% for agreement in agreements %}
    <li><a href="/agreements/id/{{ agreement.id }}/view">{{ agreement.filename }}</a> - <form action="/agreements/remove" method="post" style="display: inline-block;">
      <input type="hidden" name="id" value="{{ agreement.id }}"/>
      <input type="submit" value="Delete" />
    </form>
    </li>
  </ul>
  {% endfor %}
</div>
