<script type="text/javascript">
  var availableTransferPrograms = {{ transferPrograms }};
  console.log( `available transfer programs: ${JSON.stringify( availableTransferPrograms )}` );
  var availableTransfereePrograms = {{ transfereePrograms }};
  console.log( `available transferee programs: ${JSON.stringify( availableTransfereePrograms )}` );

  var transferPrograms = [];
  {% for relation in relations %}
  transferPrograms.push( { id: {{ relation.transferProgram.id }},
    title: '{{ relation.transferProgram.title }}' } );
  for ( var i = 0; i < availableTransferPrograms.length; ++i )
  {
    if ( availableTransferPrograms[i].id === {{ relation.transferProgram.id }} )
    {
      availableTransferPrograms.splice( i, 1 );
      break;
    }
  }
  {% endfor %}
  console.log( `Transfer programs: ${JSON.stringify( transferPrograms )}` );

  var transfereePrograms = [];
  {% for relation in relations %}
  transfereePrograms.push( { id: {{ relation.transfereeProgram.id }},
    title: '{{ relation.transfereeProgram.title }}' } );
  for ( var i = 0; i < availableTransfereePrograms.length; ++i )
  {
    if ( availableTransfereePrograms[i].id === {{ relation.transfereeProgram.id }} )
    {
      availableTransfereePrograms.splice( i, 1 );
      break;
    }
  }
  {% endfor %}
  console.log( `Transferee programs: ${JSON.stringify( transfereePrograms )}` );

  function createForm()
  {
    let form = document.createElement( 'form' );
    form.id = 'addRelation';
    form.onsubmit = 'return false;';
    let objId = document.createElement( 'input' );
    objId.type = 'hidden';
    objId.name = 'agreementId';
    objId.value = '{{ object.id }}';
    form.appendChild( objId );

    let trl = document.createElement( 'label' );
    trl.className = 'label';
    trl.textContent = 'Transfer Program';
    form.appendChild( trl );

    let trs = document.createElement( 'select' );
    trs.name = 'transferProgramId';
    trs.required = true;
    for ( var i = 0; i < availableTransferPrograms.length; ++i )
    {
      let opt = document.createElement( 'option' );
      opt.value = availableTransferPrograms[i].id;
      opt.appendChild( document.createTextNode( availableTransferPrograms[i].title ) );
      trs.appendChild( opt );
    }
    form.appendChild( trs );
    form.appendChild( document.createElement( 'br' ) );

    let treel = document.createElement( 'label' );
    treel.className = 'label';
    treel.textContent = 'Transferee Program';
    form.appendChild( treel );

    let trees = document.createElement( 'select' );
    trees.name = 'transfereeProgramId';
    trees.required = true;
    for ( var i = 0; i < availableTransfereePrograms.length; ++i )
    {
      let opt = document.createElement( 'option' );
      opt.value = availableTransfereePrograms[i].id;
      opt.appendChild( document.createTextNode( availableTransfereePrograms[i].title ) );
      trees.appendChild( opt );
    }
    form.appendChild( trees );

    return form;
  }

  function addRelation()
  {
    let button = document.getElementById( 'relationButton' );
    let div = document.getElementById( 'relationFormContainer' );

    if ( 'Add Relation' === button.textContent )
    {
      div.innerHTML = '';
      div.appendChild( createForm() );
      button.textContent = 'Save';

      document.getElementById( 'cancelButton' ).style.display = 'inline';
      return;
    }

    function displayWarning( message )
    {
      let q = document.createElement( 'q' );
      q.id = 'warning';
      q.className = 'warning';
      q.textContent = message;
      div.appendChild( q );
    }

    function removeFromAvailable( id, arr )
    {
      for ( var i = 0; i < arr.length; ++i )
      {
        if ( arr[i].id == id )
        {
          console.log( `Found value matching id: ${id} in ${JSON.stringify( arr[i] )}` );
          arr.splice( i, 1 );
          break;
        }
        console.log( `No value matching id: ${id} in ${arr[i].id}` );
      }
    }

    function displayMapping( transferProgramId, transferProgramTitle,
      transfereeProgramId, transfereeProgramTitle )
    {
      let parent = document.getElementById( 'relations' );
      let wrapper = document.createElement( 'div' );
      wrapper.id = `pr_${transferProgramId}_${transfereeProgramId}`;

      let tp = document.createElement( 'div' );
      tp.style = 'float:left; width: 45%; display: inline;';
      let tpa = document.createElement( 'a' );
      tpa.href = `/programs/id/${transferProgramId}`;
      tpa.textContent = transferProgramTitle;
      tp.appendChild( tpa );
      wrapper.appendChild( tp );

      let rmd = document.createElement( 'div' );
      rmd.style = 'float: right; display: inline; width: 5%;';
      let rmb = document.createElement( 'button' );
      rmb.onclick = function ()
      {
        removeRelation( transferProgramId, transferProgramTitle, transfereeProgramId, transfereeProgramTitle );
      }
      rmb.textContent = 'Remove';
      rmd.appendChild( rmb );
      wrapper.appendChild( rmd );

      let tep = document.createElement( 'div' );
      tep.style = 'float:left; width: 45%; display: inline;';
      let tepa = document.createElement( 'a' );
      tepa.href = `/programs/id/${transfereeProgramId}`;
      tepa.textContent = transfereeProgramTitle;
      tep.appendChild( tepa );
      wrapper.appendChild( tep );

      let clear = document.createElement( 'div' );
      clear.style = 'clear: both;';
      wrapper.appendChild( clear );
      parent.appendChild( wrapper );
    }

    let form = document.getElementById( 'addRelation' );
    let transferProgram = form.transferProgramId;
    console.log( `Transfer program index: ${transferProgram.selectedIndex}` );
    let transfereeProgram = form.transfereeProgramId;
    console.log( `Transferee program index: ${transfereeProgram.selectedIndex}` );

    if ( transferProgram.selectedIndex >= 0 && transfereeProgram.selectedIndex >= 0 )
    {
      let transferProgramId = transferProgram.options[transferProgram.selectedIndex].value;
      let transfereeProgramId = transfereeProgram.options[transfereeProgram.selectedIndex].value;

      let xhr = new XMLHttpRequest();
      xhr.open( 'POST', '/institution/program/relations/edit' );
      xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
      xhr.onreadystatechange = function ()
      {
        if ( 4 === xhr.readyState )
        {
          if ( 200 === xhr.status )
          {
            console.log( xhr.responseText );
            button.textContent = 'Add Relation';
            div.innerHTML = '';
            document.getElementById( 'cancelButton' ).style.display = 'none';

            removeFromAvailable( transferProgramId, availableTransferPrograms );
            removeFromAvailable( transfereeProgramId, availableTransfereePrograms );

            let transferProgramTitle = transferProgram.options[transferProgram.selectedIndex].text;
            let transfereeProgramTitle = transfereeProgram.options[transfereeProgram.selectedIndex].text;
            displayMapping( transferProgramId, transferProgramTitle, transfereeProgramId, transfereeProgramTitle );
          }
          else
          {
            console.log( `Error saving program relationship. ${xhr.status}` );
            displayWarning( 'Unable to save relationship to the server.  Please try again later.' );
          }
        }
      };

      xhr.send( `agreementId={{ object.id }}&transferProgramId=${transferProgramId}&transfereeProgramId=${transfereeProgramId}` );
    }
    else
    {
      if ( transferProgram.selectedIndex < 0 ) transferProgram.focus();
      else if ( transfereeProgram.selectedIndex < 0 ) transfereeProgram.focus();

      displayWarning( 'Please select both transfer and transferee programs' );
    }
  }

  function hideForm()
  {
    let div = document.getElementById( 'relationFormContainer' );
    div.innerHTML = '';
    document.getElementById( 'cancelButton' ).style.display = 'none';
    document.getElementById( 'relationButton' ).textContent = 'Add Relation';
  }

  function removeRelation( transferProgramId, title1, transfereeProgramId, title2 )
  {
    console.log( `Remove row with transfer program: ${transferProgramId}, transferee program: ${transfereeProgramId}` );
    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/institution/program/relations/remove' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onreadystatechange = function ()
    {
      if ( 4 === xhr.readyState )
      {
        if ( 200 === xhr.status && xhr.responseText === "true" )
        {
          let element = document.getElementById( `pr_${transferProgramId}_${transfereeProgramId}` );
          element.parentNode.removeChild( element );

          for ( var i = 0; i < transferPrograms.length; ++i )
          {
            if ( transferPrograms[i].id == transferProgramId )
            {
              transfereePrograms.splice( i, 1 );
              break;
            }
          }

          for ( var i = 0; i < transfereePrograms.length; ++i )
          {
            if ( transfereePrograms[i].id == transfereeProgramId )
            {
              transfereeeePrograms.splice( i, 1 );
              break;
            }
          }

          availableTransferPrograms.push( { id: transferProgramId, title: title1 } );
          availableTransfereePrograms.push( { id: transfereeProgramId, title: title2 } );
          console.log( `Removed relationship for agreement: {{ object.id }}, transfer program: ${transferProgramId}, transferee program: ${transfereeProgramId}.` );
        }
        else console.log( `Could not remove relationship for agreement: {{ object.id }}, transfer program: ${transferProgramId}, transferee program: ${transfereeProgramId}.` );
      }
    };
    xhr.send( `agreementId={{ object.id }}&transferProgramId=${transferProgramId}&transfereeProgramId=${transfereeProgramId}` );
  }

// Changing text to a link. I am trying to pull the institution list table from the database.
// If the name of institution is same as transfer institution / transferee institution, then the link is added. 
// The user can use this link and can be redirected to institution/id/view ( Instituion details ).
// The function is called at the end of the html.

  function changeHeaderToLink(){
   var transferInstitutionName;
   var transferInstitutionId;
   transferInstitutionName = ('{{ object.transferInstitution.name }}');
    transferInstitutionId = ('{{ object.transferInstitution.id }}');

    if (transferInstitutionId == undefined){
        console.log("Transfer ID is undefined");
    }
    else if(transferInstitutionId == null){
        console.log("Transfer ID is null");
    }
    else{
        document.getElementById("transferInstitution").innerHTML = "Transfer Institution: "+ "<a href=/institutions/id/"+transferInstitutionId+"/view >"+ transferInstitutionName +"</a>";
    }

   var transfereeInstitutionName;
   var transfereeInstitutionId;
   transfereeInstitutionName = ('{{ object.transfereeInstitution.name }}');
    transfereeInstitutionId = ('{{ object.transfereeInstitution.id }}');

    //console.log("work " + transferInstitutionId);

    if (transfereeInstitutionId == undefined){
        console.log("Transferee ID is undefined");
    }
    else if(transfereeInstitutionId == null){
        console.log("Transferee ID is null");
    }
    else{
        document.getElementById("transfereeInstitution").innerHTML = "Transferee Institution: "+ "<a href=/institutions/id/"+transfereeInstitutionId+"/view >"+ transfereeInstitutionName +"</a>";
    }

  }

</script>

<div>
  <h3>Title: {{ object.filename }}</h3>
  <h3 id="transferInstitution">Transfer Institution: {{ object.transferInstitution.name }}</h3>
  <h3 id="transfereeInstitution">Transferee Institution: {{ object.transfereeInstitution.name }}</h3>
  <strong>Size:</strong> {{ object.filesize }}<br />
  <strong>Type:</strong> {{ object.mimetype }}<br />
  <div>
    Click <a href="/agreements/id/{{ object.id }}/display">{{ object.filename }}</a>
    to view/download the articulation agreement.<br />
  </div>
  <div><br>
    <form id="details" method="post" action="/agreements/id/{{ object.id }}/update" style="display: inline-block;">
      <input type="submit" class="commonBtn" value="Edit" />
    </form>
    <form action="/agreements/remove" method="post" style="display: inline-block;">
      <input type="hidden" name="id" value="{{ object.id }}" />
      <input type="hidden" name="response" value="html" />
      <input type="submit" class="commonBtn" value="Delete" />
      <div style="clear: both;"></div>
    </form>
  </div>
  <br />
  <h3>Institutional Program Relations</h3>
  <div id="programHeadings">
    <div style="float:left; width: 45%; display: inline;"><h4>Transfer Program</h4></div>
    <div style="float: right; display: inline; width: 5%;"><h4>&nbsp;</h4></div>
    <div style="float:left; width: 45%; display: inline;"><h4>Transferee Program</h4></div>
    <div style="clear: both;"></div>
  </div>
  <div id="relations">
    {% for relation in relations %}
    <div id="pr_{{ relation.transferProgram.id }}_{{ relation.transfereeProgram.id }}">
      <div style="float:left; width: 45%; display: inline;">
        <a href="/programs/id/{{ relation.transferProgram.id }}/view">{{ relation.transferProgram.title }}</a>
      </div>
      <div style="float: right; display: inline; width: 5%;">
        <button  class="commonBtn" onclick="removeRelation({{ relation.transferProgram.id }}, '{{ relation.transferProgram.title }}', {{ relation.transfereeProgram.id }}, '{{ relation.transfereeProgram.title }}')">Remove</button>
      </div>
      <div id="transfereeProgram" style="float:left; width: 45%; display: inline;">
        <a href="/programs/id/{{ relation.transfereeProgram.id }}/view  ">{{ relation.transfereeProgram.title }}</a>
      </div>
      <div style="clear: both;"></div>
    </div>
    {% endfor %}
  </div>
  <div id="relationFormContainer">
  </div>
  <div id="buttonsDiv">
    <button id="relationButton" class="commonBtn" onclick="addRelation()">Add Relation</button>
    <button id="cancelButton" class="commonBtn" style="display: none;" onclick="hideForm()">Cancel</button>
  </div>
</div>
<script>
  changeHeaderToLink();
</script>