<script type="text/javascript">
  function isEnoughLength( str, length )
  {
    if ( ( str == null ) || isNaN( length ) ) return false;
    else if ( str.length < length ) return false;
    return true;
  }

  function hasMixedCase( passwd )
  {
    return passwd.match( /[a-z]/ ) && passwd.match( /[A-Z]/ );
  }

  function hasNumeral( passwd )
  {
    return passwd.match( /[0-9]/ );
  }

  function hasSpecialChars( passwd )
  {
    return passwd.match( /[!,@,#,$,%,^,&,*,?,_,~]/ );
  }

  function checkPasswordStrength( pwd )
  {
    return ( isEnoughLength( pwd, 8 ) && hasMixedCase( pwd ) &&
      hasNumeral( pwd ) && hasSpecialChars( pwd ) );
  }

  function checkPassword( form )
  {
    var strength = true;
    if ( form.password )
    {
      strength = checkPasswordStrength( form.password.value );
      let element = document.getElementById( 'passwordWarning' );

      if ( !strength )
      {
        console.log( `Password (${form.password.value}) fails strength check.` );
        element.style.display = "inline";
        form.password.focus();
      }
      else element.style.display = 'none';
    }

    return strength;
  }

  function checkInstitution( form )
  {
    let element = document.getElementById( 'institutionWarning' );

    if ( "-1" === form.institution.value )
    {
      element.style.display = "inline";
      form.institution.focus();
      return false;
    }
    else element.style.display = 'none';

    return true;
  }

  function enableRole()
  {
    let username = document.getElementById( 'username' );
    if ( !isEmpty( username ) )
    {
      let element = document.getElementById( 'role' );
      element.disabled = false;
    }
  }

  function validate()
  {
    let form = document.forms[0];
    let readonly = document.getElementById( 'username' ).getAttribute( 'readonly' );

    if ( isEmpty( form.username ) || readonly != null )
    {
      if ( checkInstitution( form ) ) form.submit();
      return;
    }

    let xhr = new XMLHttpRequest();
    xhr.open( 'GET', `/contacts/isUsernameAvailable/?username=${form.username.value}` );
    xhr.onload = function ()
    {
      let element = document.getElementById( 'userNameWarning' );
      let response = xhr.responseText;
      console.log( `Check to see if username ${form.username.value} is available returned ${response}.` );

      if ( 200 === xhr.status )
      {
        let available = 'true' === xhr.responseText;
        if ( !available )
        {
          element.style.display = 'inline';
          form.username.focus();
        }
        else
        {
          element.style.display = 'none';
          if ( checkPassword( form ) && checkInstitution( form ) ) form.submit();
        }
      }
      else
      {
        element.style.display = 'inline';
        element.innerHTML = 'Unable to access server to validate username.  Please try again later';
      }
    };
    xhr.send();
  }
</script>
<div class="addUserContainer">
<!--div style="display: flex; margin: auto; width: 90%; padding: 10px;"-->

<form id="edit" method="post" action="/contacts/edit" onsubmit="return false;" align="right">
    {% if object %}
    <h2>Edit Contact</h2>
    {% else %}
    <h2>Create Contact</h2>
    {% endif %}
    <div class="addUserForm">  
    <label class="label">Name:</label>
    <input name="name" id="name" type="text" placeholder="Name"  class="addUserInput" size="30" width="100" required="required"
           {% if object %}value="{{ object.name }}" {% endif %} />
    <br />
    <label class="label">Last Name:</label>
    <input type="text" placeholder="Last Name to be added to Database"  class="addUserInput" size="30" width="100" required="required"
           >
    <br />
    <label class="label">Email (Work):</label>
    <input name="workEmail" id="workEmail" type="email" placeholder="email address" class="addUserInput" size="30" width="100"
           {% if object %}value="{{ object.workEmail }}" {% endif %} />
    <br />
    <label class="label" style="display: none;">Email (Home):</label>
    <input name="homeEmail" id="otherEmail" type="email" size="30" width="100"
           {% if object %}value="{{ object.homeEmail }}" {% endif %} / style="display: none;">
    <br />
    <label class="label" style="display: none;">Email (Other):</label>
    <input name="otherEmail" id="otherEmail" type="email" size="30" width="100"
           {% if object %}value="{{ object.otherEmail }}" {% endif %} / style="display: none;">
    <br />
    <label class="label">Telephone (Work):</label>
    <input name="workPhone" id="workPhone" placeholder="Telephone Number" class="addUserInput" type="tel" size="30" width="100"
           {% if object %}value="{{ object.workPhone }}" {% endif %} />
    <br />
    <label class="label">Telephone (Mobile):</label>
    <input name="mobilePhone" id="mobilePhone" placeholder="Telephone Number" class="addUserInput" type="tel" size="30" width="100"
           {% if object %}value="{{ object.mobilePhone }}" {% endif %} />
    <br />
    <label class="label" style="display: none;">Telephone (Other):</label>
    <input name="otherPhone" id="otherPhone" type="tel" size="30" width="100"
           {% if object %}value="{{ object.otherPhone }}" {% endif %} / style="display: none;">
    <lable class="label">Link:</lable>
    <input type="text" class="addUserInput" placeholder="URL">
    </div>
    
    <div class="institute_addUser">
    <label class="label">Institution:</label>
    <select name="institution" id="institution" class="commonCmbBox3CSS">
      <option value="-1">Select Institution</option>
      {% for institution in institutions %}
      <option value="{{ institution.id }}"
              {% if institution.id == object.institution.id %}selected{% endif %}>
        {{ institution.name }}
      </option>
      {% endfor %}
    </select>
    <q id="institutionWarning" class="warning" style="display: none;">Contact must be associated with an institution.</q>
    <br />
    <p align="center"><strong>Login Information</strong></p>
    <label class="label">Username:</label>
    <input name="username" id="username" class="addUserInput" placeholder="Enter Username" type="text" size="30" width="100"
           {% if object.user.username %}value="{{ object.user.username }}" readonly="readonly" {% endif %}
           onchange="enableRole()" />
    <q id="userNameWarning" class="warning" style="display: none;">Username not available.  Please try another username.</q>
    <br />
    {% if object.user %}{% else %}
    <label class="label">Password:</label>
    <input name="password" id="password" type="password" class="addUserInput" placeholder="Enter User Password" size="30" width="100" />
    <q id="passwordWarning" class="warning" style="display: none;">Password should contain minimum 8 characters, combination of upper and lower case letters, numbers and special characters.</q>
    {% endif %}
    <br />
    <label class="label">Role:</label>
    <select name="role" id="role" class="commonCmbBox4CSS" {% if object.user %}{% else %}disabled{% endif %}>
      <option value="-1">Select Role</option>
      {% for role in roles %}
      <option value="{{ role.id }}"
              {% ifequal role.id object.user.role.id %}selected="selected" {% endifequal %}>
        {{ role.role }}
      </option>
      {% endfor %}
    </select>
    {% if object %}
    <input type="hidden" name="_role" value="{{ object.user.role.id }}" />
    <input type="hidden" name="id" value="{{ object.id }}" />
    {% endif %}
        <br>
    <button onclick="validate()" style="font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;">Save</button>
  </form>
</div>
</div>