<script type="text/javascript">
  let contacts = {{ contacts }};
  var institutionList = [];
  var contactList = [];
    
    function getContacts(){
        let xhr = new XMLHttpRequest();
        xhr.open( 'POST', '/contacts' );
        xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
        xhr.onload = function ()
        {
          if ( xhr.status === 200 )
          {
            //console.log( xhr.responseText );
            contactList = JSON.parse( xhr.responseText );
            populateInstitutionsSelect();
            populateRoles();
            display();
          }
          else
          {
            console.log( `Unable to retrieve institution list.  Server returned status: ${xhr.status}` );
          }
        };
        xhr.send( '' );
    }
    
    getContacts();


  /*function sortContacts()
  {
    function compareInstitution( i1, i2 )
    {
      if ( i1.name < i2.name ) return -1;
      if ( i1.name > i2.name ) return 1;
      return 0;
    }
    function compareContact( c1, c2 )
    {
      if ( c1.name < c2.name ) return -1;
      if ( c1.name > c2.name ) return 1;
      if ( !isEmpty( c1.institution ) && !isEmpty( c2.institution ) )
      {
        return compareInstitution( c1.institution, c2.institution );
      }
      return 0;
    }
    contacts.sort( compareContact );
  }*/


  function display()
  {
      let element = document.getElementById( 'lstBoxselectUser_ViewUser' );
      for(var i=0;i<contactList.length;++i){
        let option = document.createElement( 'option' );
        option.value = contactList[i].id;
        option.textContent = contactList[i].name + " - " + contactList[i].institution.name;
        element.appendChild( option );
        
      }
      
  }

  /*function displayAll()
  {
    sortContacts();
    contacts.forEach( display );
  }
  */
  function deletePerson( form )
  {
      /*
    return confirm( `Do you wish to permanently delete contact ${form.name.value}?` );
    */
  }

   
    retrieveInstitutions();         // Calling the function below.
    
    function retrieveInstitutions(){            //Function prototype to get list of all institutions from server as form of JSON and put into institutionList variable.
         let xhr = new XMLHttpRequest();
         xhr.open( 'POST', '/institutions' );
         xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
         xhr.onload = function ()
         {
           if ( xhr.status === 200 )
           {
             //console.log( xhr.responseText );
             institutionList = JSON.parse( xhr.responseText );
             populateInstitutionStateSelect();          //  This function is calling to populate list for location filter.
           }
           else
           {
             console.log( `Error retrieving institution list.  Server returned status: ${xhr.start}` );
           }
         };
         xhr.send( '' );
       }
        

    
  function populateInstitutionsSelect()
    {
        let element = document.getElementById('institution');
        var id = [];
        var names = [];
        var uniquesID = [];
        var uniquesName = [];
         for (var i = 0; i < contactList.length; ++i){
                    id[i] = contactList[i].institution.id;
                    names[i] = contactList[i].institution.name;
         }
        $.each(names,function(i,el){
            if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
        });
        $.each(id,function(i,el){
            if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
        });
         for (var i = 0; i < uniquesName.length; ++i){
               
                let option = document.createElement('option');
                option.value = uniquesID[i];
                option.textContent = uniquesName[i];
                element.appendChild( option );  
         }   
    }

    function populateInstitutionStateSelect(){      //This function is called from retrieveInstitutions(). This will populate states of Institution for location filter.
        let element = document.getElementById('InstitutionStateFilter');
        let option1 = document.createElement('option');
        option1.value = -1;
        option1.textContent = "Select State";
        element.appendChild( option1);
        var id = [];
            var names = [];
            var uniquesID = [];
            var uniquesName = []; 
            for (var i = 0; i < institutionList.length; ++i){
               id[i] = institutionList[i].id;
               names[i] =  institutionList[i].state ;
            }
            $.each(names,function(i,el){
                if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
            });
            $.each(id,function(i,el){
                if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
            });
            for (var i = 0; i < uniquesName.length; ++i){
            let option = document.createElement( 'option' );
            option.value  = uniquesID[i];
            option.textContent= uniquesName[i];
            element.appendChild( option );  
            }
    }
    function populateCity(){      //This function is called by html event onChange. This will execute only when user selects a state.
        clearSelectCities();
        var count = 0;
        let select = document.getElementById('InstitutionStateFilter');
   
        let stateName = select.options[select.selectedIndex].text;
        let elementCity = document.getElementById('InstitutionCityFilter');
        let optionCity = document.createElement('option');
        optionCity.value = -1;
        optionCity.textContent = "Select City";
        elementCity.appendChild(optionCity);
           
        var names = [];
        
        var uniquesName = []; 
        for(var i = 0; i < institutionList.length; ++i){
            if(institutionList[i].state == stateName)
                {
                    names[i] = institutionList[i].city;
                }
        }
        $.each(names,function(i,el){
            if(el != undefined)
                {
                   if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
                }
        });
        for(var i = 0; i < uniquesName.length; ++i){
            
            let element = document.getElementById('InstitutionCityFilter');
            let option = document.createElement('option');
            option.value = i;
            option.textContent = uniquesName[i];
            element.appendChild(option);
            ++count;
            document.getElementById("displayStatus").innerHTML = "Found " + count + " Cities for " + stateName;
        }
     }
    
    function populateRoles(){
        let element = document.getElementById('role');
        var id = [];
        var names = [];
        var uniquesID = [];
        var uniquesName = [];
         for (var i = 0; i < contactList.length; ++i){
                    id[i] = contactList[i].id;
                    names[i] = contactList[i].user.role.role;
         }
        $.each(names,function(i,el){
            if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
        });
        $.each(id,function(i,el){
            if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
        });
         for (var i = 0; i < uniquesName.length; ++i){
               let option = document.createElement('option');
                option.value = uniquesID[i];
                option.textContent = uniquesName[i];
                element.appendChild( option );  
         }
    }
    function removeUser(){
        let select = document.getElementById('lstBoxselectUser_ViewUser');
        let contactId = select.options[select.selectedIndex].value;
        let contactName = select.options[select.selectedIndex].text;
        let xhr = new XMLHttpRequest();
        
        if(contactId == -1)
            {
                document.getElementById('displayStatus').innerHTML = "Please select a User to Remove";
            }
        else{
              if( window.confirm("Are you sure you want to delete " + contactName + " ?"))
            {
                xhr.open('PUT' , '/contacts/remove' );
                xhr.setRequestHeader('content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function()
                {
                    if (xhr.status === 200 )
                        {
                            console.log(xhr.responseText );
                            let json = JSON.parse( xhr.responseText );
                            if(json.status && json.count === 1 )
                                {
                                    select.remove(select.selectedIndex);
                                     console.log(contactName + " is now Sucessfully deleted!");
                                }
                            else
                                {
                                    console.log("Error Deleting this person");         
                                }
                        }
                    else
                    {
                        console.log("xhr status is not 200");
                    }
                };
                xhr.send (`id=${contactId}` );
             }
        }
       
      
    }
   
    function displayContactDetails()
    {
        let select = document.getElementById('lstBoxselectUser_ViewUser');
        let contactId = select.options[select.selectedIndex].value;
        if(contactId == -1){
            document.getElementById('displayStatus').innerHTML = "Please select a User to View Details";
        }
        else{
            window.location.href = `/contacts/id/${contactId}/view`;    
        }
        
    }
    function instituteFilter(){
        let select = document.getElementById('institution');
        let institutionId = select.options[select.selectedIndex].value;
        let institutionName = select.options[select.selectedIndex].text;
        var count = 0;

        if(institutionId != -1){
          var iName = []; //Institute Name
          var cName = []; // Contact Name
          var cID = []; // Contact ID 
          for (var i = 0; i < contactList.length; ++i){
              iName[i] = contactList[i].institution.name;  
              cName[i] = contactList[i].name;
              cID[i] = contactList[i].id;
          }

          
          $("#InstitutionStateFilter").val("-1");
          $("#InstitutionCityFilter").val("-1");
          $("#role").val("-1");
          removeAllUsers();
           for (var i = 0; i < contactList.length; ++i){
              if (iName[i]  == institutionName)   //If the institution Name from select box is same as iName at i.
                  {
                      let element = document.getElementById( 'lstBoxselectUser_ViewUser' );
                      let option = document.createElement( 'option' );
                        option.value = cID[i];
                        option.textContent = cName[i] +" - " + iName[i];
                        element.appendChild( option );
                        ++count;
                          document.getElementById("displayStatus").innerHTML = "Found " + count + " User for " + institutionName;
                  }
          }
        }
        else{
            document.getElementById("displayStatus").innerHTML = "Please Select an Institution to Filter! ";
        }
    }

    function locationFilter(){       
        //The location filter works for both state and city. If the user has not selected a city, It will show all the programs from Institution in selected state. If the user has city selected it will show the list of programs in selected city.
       
        let selectCity = document.getElementById('InstitutionCityFilter');
        let cityId = selectCity.options[selectCity.selectedIndex].value;
        let cityName = selectCity.options[selectCity.selectedIndex].text;
       
        
        if( cityId == -1){      // If the user has not selected any city, It will target all the Institution from selected state.
            
            let selectState = document.getElementById('InstitutionStateFilter');
            let optionValue = selectState.options[selectState.selectedIndex].value;
            let stateName = selectState.options[selectState.selectedIndex].text;
             
            if(optionValue == -1){  // If the user has not selected any state, it will give a warning message.
                document.getElementById("displayStatus").innerHTML = "Please Select a State to Filter! ";
            }
            else{
                var count = 0;
                for(var i = 0; i<institutionList.length;++i)
                {
                    if(institutionList[i].state == stateName){
                        for(var j = 0; j<contactList.length;++j){
                            if( contactList[j].institution.city == institutionList[i].city){
                                contactList[j].institution.state = stateName;
                            }
                        }
                    }
                }
                $("#institution").val("-1");
                $("#InstitutionCityFilter").val("-1");
                $("#role").val("-1");
                removeAllUsers();
                for(var i = 0; i < contactList.length; ++i){
                    if(stateName == contactList[i].institution.state){
                           let element = document.getElementById('lstBoxselectUser_ViewUser');
                            let option = document.createElement( 'option' );
                             option.value = contactList[i].id;
                            option.textContent = contactList[i].name +" - "  + contactList[i].institution.name;
                            element.appendChild( option );
                            ++count;
                          document.getElementById("displayStatus").innerHTML = "Found " + count + " User for " + stateName;
                    }
                }
            }
         
       
        }       
        else{       // If user has selected a city.
            var count = 0;
            $("#institution").val("-1");
            $("#role").val("-1");
             removeAllUsers();
             for(var i = 0; i < contactList.length; ++i){
                  if(cityName == contactList[i].institution.city){
                       let element = document.getElementById('lstBoxselectUser_ViewUser');
                       let option = document.createElement( 'option' );
                       option.value = contactList[i].id;
                       option.textContent = contactList[i].name +" - "  + contactList[i].institution.name;
                       element.appendChild( option );
                       ++count;
                       document.getElementById("displayStatus").innerHTML = "Found " + count + " Users for " + cityName;
                  }
             }
        }
    }

    function roleFilter(){
        var count = 0;
        let select = document.getElementById('role');
        let roleId = select.options[select.selectedIndex].value;
        let role = select.options[select.selectedIndex].text;

        if(roleId != -1){
          $("#institution").val("-1");
          $("#InstitutionStateFilter").val("-1");
          $("#InstitutionCityFilter").val("-1");
          
        removeAllUsers();
         for (var i = 0; i < contactList.length; ++i){
            if (contactList[i].user.role.role  == role)   //If the institution Name from select box is same as iName at i.
                {
                    let element = document.getElementById( 'lstBoxselectUser_ViewUser' );
                    let option = document.createElement( 'option' );
                      option.value = contactList[i].user.id;
                      option.textContent =  contactList[i].name +" - "  + contactList[i].institution.name;
                      element.appendChild( option );
                      ++count;
                      document.getElementById("displayStatus").innerHTML = "Found " + count + " Users for " + role;
                }
                else if(count == 0){
                      document.getElementById("displayStatus").innerHTML = "Found " + count + " Users for " + role;   
                }
        }
      }
      else{
        document.getElementById("displayStatus").innerHTML = "Please Select a role to Filter! "; 
      }
    }
    function clearSelectCities()
    {
        let element = document.getElementById('InstitutionCityFilter');
        while(element.firstChild)
            {
                element.removeChild(element.firstChild);
                
            }
    }

    function removeAllUsers(){
        
            let element = document.getElementById( 'lstBoxselectUser_ViewUser' );
           while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
        }
    function removeAllFilters(){
      removeAllUsers();
      display();
      $("#institution").val("-1");
      $("#InstitutionStateFilter").val("-1");
      $("#InstitutionCityFilter").val("-1");
      $("#role").val("-1");
      document.getElementById("displayStatus").innerHTML = ""; 
    }
</script>

<div style="margin-left: auto; margin-right: auto;min-height: 700px ;">
    
  <div>
    <!--div style="display:inline-block; float: left; padding: 10px;"><a href="/contacts/create" style="float: left;">Create Contact</a></div-->
    <div style="display:inline-block; overflow: hidden; width: 100px;"></div>
    <div style="clear: both;"></div>
  </div>
  <div id="contacts">
       <div class="viewUserContainer">
            <div class="TitleHeader">
               <h4>View User</h4>
            </div> <!--End of Title Header </div-->
            <!--Start of div view Users Multiline Select -->
           <div style="margin-left: auto; margin-right: auto; width: 1000px;">

            <div class="viewUsersMultilineSelect">
             <q id="displayStatus">  {% if searchText %} Search results for ({{ searchText }}) {% endif %} </q><br>
               <select multiple id="lstBoxselectUser_ViewUser" style="font-size: 16px;">
                   <option value="-1" selected style="display: none;"></option>
                   <script type="text/javascript">//displayAll();</script>
                   {% for contact in contacts %}
                   <option value="{{ contact.id }}" {% if contact.id == object.contact.id %}selected="selected"{% endif %}>{{contact.name}} </option> {% endfor %}
               </select>
               <br><br>
                <button onclick = "displayContactDetails()" >View User Details</button>
               <a href="/contacts/create"><input type="button" name="addUser" value="Add User" id="addUserButton"></a>
                <button onclick="removeUser()">Remove User</button>
               <br>
            </div> <!--End of div viewUsersMultilineSelect -->
           
            <!--Start of div filterBy -->
            <div class="filterByInViewUsers" align="right">
               <h2 style="margin: 0px;width: 350px; float: left;" align="center"> Filter By</h2> <button  onclick="removeAllFilters()">No Filters</button>

               <fieldset>
                  
                        Institute:
                      <select class="commonCmbBox2CSS" name="institute" id="institution" style="width: 300px;">
                            <option value="-1" selected>Select Institution</option>
                      </select>
                  
                   <button class="commonBtn" onclick="instituteFilter()">Apply Filter</button>
               </fieldset>
               <fieldset>
                 Filter By State: 
                  <select class="commonCmbBox2CSS" id="InstitutionStateFilter" onchange="populateCity()">
                     <option value="-1" style="display: none"> Select State </option>
                  </select><br>
                    Filter By City:
                  <select class="commonCmbBox2CSS" id="InstitutionCityFilter">
                     <option value="-1" style="display: none"> Select City </option>
                  </select>
                  <button class="commonBtn" onclick="locationFilter()"> Apply Filter </button> 
               </fieldset>
               <fieldset>
                   Role:
                  <select id="role"  class="commonCmbBox2CSS"  {% if object.user %}{% else %}{% endif %}>
                      <option value="-1" style="font-size: 16px;">Select Role</option>
                      
                    </select>
                   <button class="commonBtn" onclick="roleFilter()">Apply Filter</button>
               </fieldset>
               <fieldset>
                 <form name="search" method="post" action="/contacts/search">
                        User Name: <input type="text" name="text" class="selectUserTextBoxInFilterBy" placeholder="Search by name..."/>
                       <input type="submit" value="Find"/>
                 </form>
               </fieldset>
            </div> <!--End of div filterBy -->
           </div>
         </div><!--viewUserContainer-->
  </div>
</div>
