<script type="text/javascript">
  function deleteContact( form )
  {
    return confirm( `Do you wish to permanently delete contact ${form.name.value}?` );
  }
</script>

<div style="margin-left: auto;margin-right: auto; background-color: aqua">
  <h3>Name: {{ object.name }}</h3>
  {% if object.workEmail %}
  <label class="label">Work Email:</label> <a href="mailto:{{ object.workEmail }}">{{ object.workEmail }}</a><br />
  {% endif %}
  {% if object.homeEmail %}
  <label class="label">Home Email:</label> <a href="mailto:{{ object.homeEmail }}">{{ object.homeEmail }}</a><br />
  {% endif %}
  {% if object.otherEmail %}
  <label class="label">Other Email:</label> <a href="mailto:{{ object.otherEmail }}">{{ object.otherEmail }}</a><br />
  {% endif %}

  {% if object.workPhone %}
  <label class="label">Work Number:</label> {{ object.workPhone }}<br />
  {% endif %}
  {% if object.home_phone %}
  <label class="label">Home Number:</label> {{ object.home_phone }}<br />
  {% endif %}
  {% if object.mobilePhone %}
  <label class="label">Mobile Number:</label> {{ object.mobilePhone }}<br />
  {% endif %}
  {% if object.institution.name %}
  <label class="label">Institution:</label><a href="/institutions/id/{{ object.institution.institution_id }}/view">{{ object.institution.name }}</a><br />
  {% endif %}
  {% if object.user.username %}
  <label class="label">Username:</label> {{ object.user.username }}<br />
  {% endif %}
  {% if object.user.role.role %}
  <label class="label">Role:</label> {{ object.user.role.role }}<br />
  {% endif %}

  <div>
    <form id="details" method="post" action="/contacts/id/{{ object.id }}/update" style="display: inline-block;">
      <input type="submit" value="Edit" />
    </form>
    <form action="/contacts/remove" method="post" style="display: inline-block;" onsubmit="return deleteContact( this );">
      <input type="hidden" name="id" value="{{ object.id }}" />
      <input type="hidden" name="name" value="{{ contact.name }}"/>
      <input type="submit" value="Delete" />
    </form>
  </div>
</div>
