<script type="text/javascript">
  function saveProgram( form )
  {
    if ( !form.institution.selectedIndex > 0 )
    {
      let element = document.getElementById( 'warning' );
      element.innerText = 'Please select a valid institution';
      element.style.display = 'inline';
      form.institution.focus();
      return false;
    }

    return true;
  }
</script>

<div style="display: flex; margin: auto; width: 90%; padding: 10px;">
  <form id="edit" method="post" action="/programs/edit" onsubmit="return saveProgram( this );">
    {% if object %}
    <h2>Edit Program</h2>
    {% else %}
    <h2>Create Program</h2>
    {% endif %}

    <label class="label">Title:</label>
    <input name="title" id="title" type="text" size="35" width="50" required="required"
           {% if object %}value="{{ object.title }}"{% endif %} />
    <br/>
    <label class="label">Credits:</label>
    <input name="credits" id="credits" type="text" size="35" width="250"
           {% if object %}value="{{ object.credits }}"{% endif %} />
    <br/>
    <label class="label">Institution:</label>
    <select name="institution" id="institution">
      <option value="0">Select Institution</option>
      {% for institution in institutions %}
      <option value="{{ institution.id }}"
              {% if institution.id == object.institution.id %}selected="selected"{% endif %}>
        {{ institution.name}} {% if institution.city %}({{ institution.city}}){% endif %}
      </option>
      {% endfor %}
    </select>
    <br/>
    <label class="label">Degree:</label>
    <select name="degree" id="degree">
      <option value="0">Select Degree</option>
      {% for degree in degrees %}
      <option value="{{ degree.id }}"
              {% if degree.id == object.degree.id %}selected="selected"{% endif %}>
        {{ degree.title}}
      </option>
      {% endfor %}
    </select>
    <br/>
    <label class="label">Type:</label>
    <input name="type" id="type" type="text" size="35" width="250"
           {% if object %}value="{{ object.type }}"{% endif %} />
    <br/>
    <label class="label">Designation:</label>
    <select name="designation" id="designation">
      <option value="0">Select Designation</option>
      {% for designation in designations %}
      <option value="{{ designation.id }}"
              {% if designation.id == object.designation.id %}selected="selected"{% endif %}>
        {{ designation.title}}
      </option>
      {% endfor %}
    </select>
    <br/>
    <label class="label">Curriculum Code:</label>
    <input name="curriculumCode" id="curriculumCode" type="text" size="35" width="250"
           {% if object %}value="{{ object.curriculumCode }}"{% endif %} />
    <br/>
    <label class="label">URL:</label>
    <input name="url" id="url" type="text" size="35" width="250"
           {% if object %}value="{{ object.url }}"{% endif %} />
    <br/>
    {% if object %}
    <input type="hidden" name="id" value="{{ object.id }}" />
    {% endif %}
    <input type="submit" value="Save" />
    <br/>
    <q id="warning" class="warning" style="display: none;"></q>
  </form>
</div>
