<script type="text/javascript">
  function saveProgram( form )
  {
    if ( !form.institution.selectedIndex > 0 )
    {
      let element = document.getElementById( 'warning' );
      element.innerText = 'Please select a valid institution';
      element.style.display = 'inline';
      form.institution.focus();
      return false;
    }

    return true;
  }
</script>
 <div class="addProgramContainer">
   <form id="edit" method="post" action="/programs/edit" onsubmit="return saveProgram( this );">
      {% if object %}
      <h2 align="center">Edit Program</h2>
      {% else %}
      <h2 align="center">Create Program</h2>
      {% endif %}
      <div class="programInfoInAddProgram" >
         <table align="center">
            <tr>
               <h4 class="programInformationHeader">Program Information</h4>
               <br>
            </tr>
            <tr>
               <td align="right">Program Title:</td>
               <td>
                  <input name="title" id="title" placeholder="Program Title"   class="addUserInput" type="text" size="35" width="50" required="required"
                  {% if object %}value="{{ object.title }}"{% endif %} /> 
               </td>
               <td align="right">Institution:</td>
               <td>
                  <select name="institution" id="institution">
                     <option value="0">Select Institution</option>
                     {% for institution in institutions %}
                     <option value="{{ institution.id }}"
                     {% if institution.id == object.institution.id %}selected="selected"{% endif %}>
                     {{ institution.name}} {% if institution.city %}({{ institution.city}}){% endif %}
                     </option>
                     {% endfor %}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right">Total Credit Hours:</td>
               <td>
                  <input name="credits" id="credits" class="addUserInput" type="text" size="35" width="250" placeholder="Total Credit Hours"
                  {% if object %}value="{{ object.credits }}"{% endif %} />
               </td>
               <td> CAE Designation:</td>
               <td>
                  <select name="designation" id="designation" >
                     <option value="0" style=" font-size: 16px;">Select Designation</option>
                     {% for designation in designations %}
                     <option value="{{ designation.id }}" style="font-size: 16px;"
                     {% if designation.id == object.designation.id %}selected="selected"{% endif %}>
                     {{ designation.title}}
                     </option>
                     {% endfor %}
                  </select>
               </td>
            </tr>
            <tr>
               <td align="right">Curriculam Code:</td>
               <td>
                  <input name="curriculumCode" id="curriculumCode" type="text" size="35" width="250" class="addUserInput" placeholder="Enter Program Code"
                  {% if object %}value="{{ object.curriculumCode }}"{% endif %} />
               </td>
               <td align="right">Degree:</td>
               <td>
                  <select name="degree" id="degree" >
                     <option value="0">Select Degree</option>
                     {% for degree in degrees %}
                     <option value="{{ degree.id }}"
                     {% if degree.id == object.degree.id %}selected="selected"{% endif %}>
                     {{ degree.title}}
                     </option>
                     {% endfor %}
                  </select>
               </td>
            </tr>
            <tr align="center">
               <td colspan="6">
                  Program URL:
               </td>
            </tr>
            <tr>
               <td colspan="5">
                  <input name="url" id="url" type="text" placeholder="Program URL" class="addUserInput" size="35" width="250" style="margin: auto; width: 
                  380px; display: block;" {% if object %}value="{{ object.url }}"{% endif %} />
               </td>
            </tr>
         </table>
      </div>
       <div style="width: 1000px;">
      <div id="CareerCoursesDiv" style="display: none">
         <h4 class="careerCourseHeader">Career Courses:</h4>
         <select class="selectProgramDropDown1" multiple>
            <option></option>
         </select>
         <textarea class="textarea1InAddProgram" placeholder="Course details"></textarea>
          <button  class="commonBtnInCareerCourses" id="displayCoureseSubDiv">Add Course</button>
          <button class="commonBtnInCareerCourses">Remove Course</button>
         <script>
            $(document).ready(function(){
                   $("#displayCoureseSubDiv").click(function(){
                       //Enable the Option A fields
                       $("#CareerCourseSubDiv").show();
                   });
            });
            
         </script>
         <div id="CareerCourseSubDiv" style="display: none">
            <select class="commonCmbBox3CSS">
               <option>Department:</option>
           
            </select>
            <select class="commonCmbBox3CSS">
               <option>Courses:</option>
             
            </select>
            <br>
            <!--form  id="frmAddCourseSelectProgram" -->
             <button   class="commonBtnInCareerCourses">Add Course</button>
               <!--/form-->
            <!--form id="frmRemoveCourseSelectProgram" -->
             <button  class="commonBtnInCareerCourses">Cancel</button>
            <!--/form-->
         </div>
         <!--End of CareerCoursesSubDiv-->
      </div>
      <!--End of CareerCoursesDiv-->
      <div id="generalEduInSelectProgram" style="display: none">
         <h4 class="genEdReqHeader">General Education Requirements:</h4>
         <select class="selectProgramDropDown1" multiple>
            <option></option>
         </select>
         <textarea class="textarea1InAddProgram" placeholder="Course Details"></textarea>
          <button id="addCourseInGenEdReq" class="commonBtnInCareerCourses">Add Course</button>
          <button class="commonBtnInCareerCourses">Remove Course</button>
         <script>
            $(document).ready(function(){
                   $("#addCourseInGenEdReq").click(function(){
                       //Enable the Option A fields
                       $("#GeneralEducationSubDiv").show();
                   });
            });
            
         </script>
         <div id="GeneralEducationSubDiv" style="display: none;">
            <select class="commonCmbBox3CSS" >
               <option>Department:</option>
               <option></option>
               <option></option>
            </select>
            <select class="commonCmbBox3CSS">
               <option>Courses:</option>
               <option></option>
               <option></option>
            </select>
            <br>
            <!--form id="frmAddCourseSelectProgram" -->
             <button class="commonBtnInCareerCourses">Add Course</button>
            <!--/form-->
            <!--form id="frmRemoveCourseSelectProgram" -->
             <button class="commonBtnInCareerCourses">Cancel</button>
            <!--/form-->
         </div>
         <!--End of div general Education Sub Div -->
      </div>
      <!--End of div general Education Requirements-->
       </div> 
      <div style="clear:both;"></div>
      {% if object %}
      <input type="hidden" name="id" value="{{ object.id }}" />
      {% endif %}
      <p align="center"><input type="submit" value="Save"  class="commonBtn"/>
      </p>
      <br/>
      <q id="warning" class="warning" style="display: none;"></q>
   </form>
</div>