<script type="text/javascript">

    let programs = {{programs}};
    var programList = [];           // To hold the array of objects that contain list of program from JSON.
    var institutionList = [];       // To hold the array of objects that contain list of institutions from JSON.
    
    getPrograms();          // Calling the function below.
     function getPrograms()     // Function prototype to retrive programs from server.
        {
            let xhr = new XMLHttpRequest();
            xhr.open( 'POST', '/programs' );
            xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
            xhr.onload = function ()
            {
              if ( xhr.status === 200 )
              {
               // console.log( xhr.responseText );
                let json = JSON.parse( xhr.responseText );
                programList = json;             
                populateProgramSelect();        //This function will populate the multiline select with list of all programs.
                populateInstituteSelect();      //This function will populate the list of institution to filter from.
                populateDegrees();              //This function will populate the list of degrees to filter from.
               
               // The designations are currently not specified in the database so kept unpopulated.
               
                populateDesignations();         //This function will populate the list of program designation to filter from.
              }
              else
              {
                console.log( `Unable to retrieve Program list.  Server returned status: ${xhr.status}` );
              }
            };
            xhr.send( '' );
        }

        function populateProgramSelect()        //This function is called from getPrograms function.
        {
           let element = document.getElementById('selectProgram');
           for (var i = 0; i < programList.length; ++i)
                {
                    let option = document.createElement( 'option' );
                    option.value = programList[i].id;
                    option.textContent = programList[i].title ;
                    element.appendChild( option );
                }
        }
       
    retrieveInstitutions();         // Calling the function below.

    function retrieveInstitutions(){            //Function prototype to get list of all institutions from server as form of JSON and put into institutionList variable.
         let xhr = new XMLHttpRequest();
         xhr.open( 'POST', '/institutions' );
         xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
         xhr.onload = function ()
         {
           if ( xhr.status === 200 )
           {
             //console.log( xhr.responseText );
             institutionList = JSON.parse( xhr.responseText );
             populateInstitutionStateSelect();          //  This function is calling to populate list for location filter.
           }
           else
           {
             console.log( `Error retrieving institution list.  Server returned status: ${xhr.start}` );
           }
         };
         xhr.send( '' );
       }
        
        function populateInstituteSelect()      // This function is called in getPrograms().
        {
           let element = document.getElementById('InstitutionListFilter');
            var id = [];        // This is used for getting id from html
            var names = [];     // This is used for getting name from html
            var uniquesID = []; // This array is used to store unique id without repeatation
            var uniquesName = []; // This array is used to store unique names without repeatation
            for (var i = 0; i < programList.length; ++i){
                        id[i] = programList[i].institution.id;
                        names[i] = programList[i].institution.name;
             }
            $.each(names,function(i,el){
                if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
            });
            $.each(id,function(i,el){
                if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
            });
            for (var i = 0; i < uniquesName.length; ++i)
            {
                let option = document.createElement( 'option' );
                option.value = uniquesID[i];
                option.textContent = uniquesName[i];
                element.appendChild( option );
            }
       }
      
   
    
    function populateInstitutionStateSelect(){      //This function is called from retrieveInstitutions(). This will populate states of Institution for location filter.
        let element = document.getElementById('InstitutionStateFilter');
        let option1 = document.createElement('option');
        option1.value = -1;
        option1.textContent = "Select State";
        element.appendChild( option1);
        var id = [];
            var names = [];
            var uniquesID = [];
            var uniquesName = []; 
            for (var i = 0; i < institutionList.length; ++i){
               id[i] = institutionList[i].id;
               names[i] =  institutionList[i].state ;
             }
            $.each(names,function(i,el){
                if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
            });
            $.each(id,function(i,el){
                if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
            });
            for (var i = 0; i < uniquesName.length; ++i){
            let option = document.createElement( 'option' );
            option.value  = uniquesID[i];
            option.textContent= uniquesName[i];
            element.appendChild( option );  
            }
    }
    
         
    function populateCity(){      //This function is called by html event onChange. This will execute only when user selects a state.
        clearSelectCities();
        var count = 0;
        let select = document.getElementById('InstitutionStateFilter');
   
        let stateName = select.options[select.selectedIndex].text;
        let elementCity = document.getElementById('InstitutionCityFilter');
        let optionCity = document.createElement('option');
        optionCity.value = -1;
        optionCity.textContent = "Select City";
        elementCity.appendChild(optionCity);
           
  
        var names = [];
        
        var uniquesName = []; 
        for(var i = 0; i < institutionList.length; ++i){
            if(institutionList[i].state == stateName)
                {
                    names[i] = institutionList[i].city;
                }
        }
        $.each(names,function(i,el){
            if(el != undefined)
                {
                   if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
                }
        });
        for(var i = 0; i < uniquesName.length; ++i){
            
            let element = document.getElementById('InstitutionCityFilter');
            let option = document.createElement('option');
            option.value = i;
            option.textContent = uniquesName[i];
            element.appendChild(option);
            ++count;
            document.getElementById("displayStatus").innerHTML = "Found " + count + " Cities for " + stateName;
        }
     }
    function populateDegrees(){         //This function is called from getPrograms().
            let element = document.getElementById('DegreeListFilter');
            var id = [];
            var names = [];
            var uniquesID = [];
            var uniquesName = []; 
            for (var i = 0; i < programList.length; ++i){
              if(programList[i].degree == undefined){
                id[i] = programList[0].degree.id;
                names[i] = programList[0].degree.title;  
              }
              else{
               id[i] = programList[i].degree.id;
               names[i] = programList[i].degree.title ; 
             
              }
               
            }
            $.each(names,function(i,el){
            if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
            });
            $.each(id,function(i,el){
                if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
            });
            for (var i = 0; i < uniquesName.length; ++i){
                    let option = document.createElement( 'option' );
                    option.value = uniquesID[i];
                    option.textContent = uniquesName[i];
                    element.appendChild( option );             
            }
    }
    function populateDesignations(){        // This function is called from getPrograms().
        var id = [];
        var names = [];
        var uniquesID = [];
        var uniquesName = [];
        for (var i = 0; i < programList.length; ++i){
          if(programList[i].designation == undefined){
              id[i] = -2;
               names[i] = "undefined" ;
          }
          else{
               id[i] = programList[i].designation.id;
               names[i] = programList[i].designation.title ;
          }
            
        }
        $.each(names,function(i,el){
            if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
        });
        $.each(id,function(i,el){
            if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
        });
        let element = document.getElementById('DesignationsFilter');
        for (var i = 0; i < uniquesName.length; ++i){
                 let option = document.createElement( 'option' );
                 option.value = uniquesID[i];
                 option.textContent = uniquesName[i];
                 element.appendChild( option );             
         }
    }
   

  
  
  /*The code from Rakesh.*/
  
  function displayProgram( programId )
  {
    document.getElementById( `pv_${programId}` ).style.display = 'inline';
    return false;
  }

  function hideProgram( programId )
  {
    document.getElementById( `pv_${programId}` ).style.display = 'none';
  }

  function deleteProgram( programId )
  {
    function displayWarning()
    {
      let warning = document.getElementById( `pw_${programId}` );
      warning.style.display = 'inline';
      warning.innerText = 'Unable to delete program.  Please try again later.'
    }

    if ( !confirm( 'Do you wish to permanently delete program?' ) ) return false;

    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/programs/remove' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onload = function ()
    {
      if ( xhr.status === 200 )
      {
        //console.log( xhr.responseText );
        let json = JSON.parse( xhr.responseText );
        if ( json.status )
        {
          let element = document.getElementById( `p_${programId}` );
          element.parentNode.removeChild( element );
        }
        else displayWarning();
      }
      else
      {
        console.log( `Delete program response status: ${xhr.status} ${xhr.statusText} text: ${xhr.responseText }` );
        displayWarning();
      }
    };
    xhr.send( `id=${programId}` );
    return false;
  }

    
    
    /* End of Rakesh's Code */
    
    function removeProgram(){       //This function will delete the selected program from the server. 
        let select = document.getElementById('selectProgram');
        let programId = select.options[select.selectedIndex].value;
        let programName = select.options[select.selectedIndex].text;
        let xhr = new XMLHttpRequest();
        
        if(programId == -1)     //if the user has not selected any program from the list.
            {
                document.getElementById("displayStatus").innerHTML = "Please select a Program to Remove";
               
            }
        else{
              if( window.confirm("Are you sure you want to delete " + programName + " ?"))
              {
                xhr.open('PUT' , '/programs/remove' );
                xhr.setRequestHeader('content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function()
                {
                    if (xhr.status === 200 )
                        {
                            //console.log(xhr.responseText );
                            let json = JSON.parse( xhr.responseText );
                            if(json.status && json.count === 1 )
                                {
                                    select.remove(select.selectedIndex);
                                    console.log(programName + " is now Sucessfully deleted!");
                                   // programId = -1;
                                }
                            else
                                {
                                    console.log("Error Deleting this person");         
                                }
                        }
                    else
                    {
                        console.log("xhr status is not 200");
                    }
                };
                xhr.send (`id=${programId}` );
             }
        }
    }

        
        function displayProgramDetails(){       // This function will redirect to selected program details page.
        let select = document.getElementById('selectProgram');
        let programId = select.options[select.selectedIndex].value;
        let programName = select.options[select.selectedIndex].text;
        
        if(programId == -1)     // If user has not selected any program from select.
            {
                document.getElementById("displayStatus").innerHTML = "Please select a Program to view Details";
            }
        else{
                window.location.href = `/programs/id/${ programId }/view` ;
            }
      
        }

    function filterByName()
    {
       $("#InstitutionStateFilter").val("-1");
       $("#InstitutionCityFilter").val("-1");
       $("#DegreeListFilter").val("-1");
       $("#DesignationsFilter").val("-1");
      
      
       let select = document.getElementById('programName');//the name searched
       console.log(select.value);
       if(select.value != ""){
      
       document.getElementById("displayStatus").innerHTML = "results for " + select.value;//tell the user what filter was applied
       //document.getElementById("NameF").innerHTML = "Institution Name: " + select.value;//tell the user what filter was applied
       let nameInput = select.value.toUpperCase(); //put the name in all caps to ignore case sensitivity
       //nameInput = nameInput.toUpperCase();
       console.log(nameInput);
       //let institutionDisplayName = "";//how the institution name appears in the choices
       //let newID = null;//have to update the institution id for the correct institution to be pulled when selected
    
   
       removeAllPrograms();
       //document.getElementById("NameF").innerHTML = "Institution Name: " + nameInput;
       for(var i=0; i<programList.length; i++)
           {
               let temp = programList[i].title;
               let tempUpper = temp.toUpperCase();
               if(tempUpper.includes(nameInput))
                   {
                       let element = document.getElementById('selectProgram');
                       let option = document.createElement('option');
                       if(programList[i].institution != null){
                           let chosen = programList[i].title + " - " + programList[i].institution.name + " , " + programList[i].institution.city;
                           let chosenID = programList[i].id;
                           option.value = chosenID;
                           option.textContent = chosen;
                       }
                       else{
                            let chosen = programList[i].title + " - " ;//+ contactList[i].institute.name + " , " + contactList[i].institute.city + " )";
                           let chosenID = programList[i].id;
                           option.value = chosenID;
                           option.textContent = chosen;
                       }
                       
                       element.appendChild(option);
                   }
           }
       
      } 
      else{
            document.getElementById("displayStatus").innerHTML = "Please provide a value to search" ;
      }
   }  

    function instituteFilter(){     //This function will provide the list of all the programs from particular institution.
        var count = 0;
        let select = document.getElementById('InstitutionListFilter');
        let institutionId = select.options[select.selectedIndex].value;
        let institutionName = select.options[select.selectedIndex].text;
        
        if(institutionId != -1)     
            {
                  $("#InstitutionStateFilter").val("-1");
                  $("#InstitutionCityFilter").val("-1");
                  $("#DegreeListFilter").val("-1");
                  $("#DesignationsFilter").val("-1");
                 removeAllPrograms();
                 for (var i = 0; i < programList.length; ++i){
                    if (programList[i].institution.name  == institutionName)   //If the institution Name from select box is same as the one in programList.
                        {
                            let element = document.getElementById( 'selectProgram' );
                            let option = document.createElement( 'option' );
                              option.value = programList[i].id;
                              option.textContent = programList[i].title +" - " + programList[i].institution.name;
                              element.appendChild( option );
                             ++count;
                            document.getElementById("displayStatus").innerHTML = "Found " + count + " Programs for " + institutionName;
                        }
                     else{
                        //delete programList[i] ;
                     }
                }
            }
        else{   // If the user has not selected any Institution to filter.
            document.getElementById("displayStatus").innerHTML = "Please Select an Institution to filter ";
        }
      
    }

   function locationFilter(){       
        //The location filter works for both state and city. If the user has not selected a city, It will show all the programs from Institution in selected state. If the user has city selected it will show the list of programs in selected city.
       
        let selectCity = document.getElementById('InstitutionCityFilter');
        let cityId = selectCity.options[selectCity.selectedIndex].value;
        let cityName = selectCity.options[selectCity.selectedIndex].text;
       
        
        if( cityId == -1){      // If the user has not selected any city, It will target all the Institution from selected state.
            
            let selectState = document.getElementById('InstitutionStateFilter');
            let optionValue = selectState.options[selectState.selectedIndex].value;
            let stateName = selectState.options[selectState.selectedIndex].text;
             
            if(optionValue == -1){  // If the user has not selected any state, it will give a warning message.
                document.getElementById("displayStatus").innerHTML = "Please Select a State to Filter! ";
            }
            else{
                var count = 0;
                for(var i = 0; i<institutionList.length;++i)
                {
                    if(institutionList[i].state == stateName){
                        for(var j = 0; j<programList.length;++j){
                            if( programList[j].institution.city == institutionList[i].city){
                                programList[j].institution.state = stateName;
                            }
                        }
                    }
                }

                  $("#InstitutionListFilter").val("-1");
                  $("#InstitutionCityFilter").val("-1");
                  $("#DegreeListFilter").val("-1");
                  $("#DesignationsFilter").val("-1");
                 removeAllPrograms();
                for(var i = 0; i < programList.length; ++i){
                    if(stateName == programList[i].institution.state){
                           let element = document.getElementById('selectProgram');
                            let option = document.createElement( 'option' );
                             option.value = programList[i].id;
                            option.textContent = programList[i].title +" - "  + programList[i].institution.name ;
                            element.appendChild( option );
                            ++count;
                          document.getElementById("displayStatus").innerHTML = "Found " + count + " Programs for " + stateName;
                    }
                }
            }
         
       
        }       
        else{       // If user has selected a city.
            var count = 0;
            $("#InstitutionListFilter").val("-1");
            $("#DegreeListFilter").val("-1");
            $("#DesignationsFilter").val("-1");
             removeAllPrograms();
             for(var i = 0; i < programList.length; ++i){
                  if(cityName == programList[i].institution.city){
                       let element = document.getElementById('selectProgram');
                       let option = document.createElement( 'option' );
                       option.value = programList[i].id;
                       option.textContent = programList[i].title +" - "  + programList[i].institution.name;
                       element.appendChild( option );
                       ++count;
                       document.getElementById("displayStatus").innerHTML = "Found " + count + " Programs for " + cityName;
                  }
             }
        }
    }

    function degreeFilter(){        
        var count = 0;
        let select = document.getElementById('DegreeListFilter');
        let degreeId = select.options[select.selectedIndex].value;
        let degreeName = select.options[select.selectedIndex].text;
        
        if( degreeId != -1){        //  If user has selected a degree to filter.
        
        $("#InstitutionListFilter").val("-1");
        $("#InstitutionStateFilter").val("-1");
        $("#InstitutionCityFilter").val("-1");
        $("#DesignationsFilter").val("-1");
        removeAllPrograms();

    
        for (var i = 0; i < programList.length; ++i){

              if(programList[i].degree == undefined){
                  //console.log(programList[i].degree + " is not defined. User error");
              }
              else{
                  if (programList[i].degree.title  == degreeName)   //If the Degree Name from select box is same as the one in programList.
                   {
                      let element = document.getElementById( 'selectProgram' );
                      let option = document.createElement( 'option' );
                      option.value = programList[i].id;
                      option.textContent = programList[i].title +" - " + programList[i].institution.name ;
                      element.appendChild( option );
                       
                        ++count;
                       document.getElementById("displayStatus").innerHTML = "Found " + count + " record for " + degreeName;
                   }
                  else {
                document.getElementById("displayStatus").innerHTML = "Found " + count + " record for " + degreeName;
                //delete programList[i] ;
                  }
            }
          }
               
        
        
        //removeAllInstitutions();
        }
        else{       // If user has not selected a degree to filter.
            document.getElementById("displayStatus").innerHTML = "Please select a degree to filter";
        }
    }
    
    function designationFilter(){
        var count = 0;
        let select = document.getElementById('DesignationsFilter');
        let designationId = select.options[select.selectedIndex].value;
        let designationName = select.options[select.selectedIndex].text;
        
        if(designationId != -1){    //  If user has selected a designation.
        $("#InstitutionListFilter").val("-1");
        $("#InstitutionStateFilter").val("-1");
        $("#InstitutionCityFilter").val("-1");
        $("#DegreeListFilter").val("-1");
        removeAllPrograms();
        for (var i = 0; i < programList.length; ++i){
               if(programList[i].designation == undefined){
                  console.log(programList[i].title + " has no designation selected");
               }
               else if (programList[i].designation.title  == designationName)   //If the Designation Name from select box is same as the one in programList.
                {
                      
                      let element = document.getElementById( 'selectProgram' );
                      let option = document.createElement( 'option' );
                      option.value = programList[i].id;
                      option.textContent = programList[i].title +" - " + programList[i].institution.name + " - " + programList[i].designation.title;
                      element.appendChild( option );
                       
                        ++count;
                       document.getElementById("displayStatus").innerHTML = "Found " + count + " record for " + designationName;
                }
                else{
                //delete programList[i] ;
                }
            } // End of for loop
        }
        else{       //If user has not selected a designation.
            document.getElementById("displayStatus").innerHTML = "Please select a designation to filter";
        }
    }// End of function.
    
     function removeAllPrograms(){      //This function will remove all the program from the program select box not from server.
            //This function is called in different filters.
        
            let element = document.getElementById( 'selectProgram' );
           while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
    }
    
    function removeAllInstitutions(){
        let element = document.getElementById('InstitutionListFilter');
        while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
    }
    
    function clearSelectCities()
    {
        let element = document.getElementById('InstitutionCityFilter');
        while(element.firstChild)
            {
                element.removeChild(element.firstChild);
                
            }
    }

    function removeAllFilters(){
      removeAllPrograms();
      populateProgramSelect();
      $("#InstitutionListFilter").val("-1");
      $("#InstitutionStateFilter").val("-1");
      $("#InstitutionCityFilter").val("-1");
      $("#DegreeListFilter").val("-1");
      $("#DesignationsFilter").val("-1");
      document.getElementById("displayStatus").innerHTML = ""; 
    }
    
</script>

<div style="min-height: 700px; margin-left: auto;margin-right: auto;">
  
  <!--div>
    <div style="display:inline-block; float: left; padding: 10px;"><a href="/programs/create" style="float: left;">Create Program</a></div>
    <div style="display:inline-block; overflow: hidden; width: 100px;"></div>
    <div style="display:inline-block; float: right; padding: 10px;">
      <form name="search" method="post" action="/programs/search">
      <input type="text" name="text" placeholder="Search by name..."/><input type="submit" value="Find"/>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div-->
  {% if searchText %}
  <h3>Search results for ({{ searchText }})</h3>
  {% endif %}
     <div class="viewProgramContainer" style="min-height: 600px; width: 1100px;">
            <div class="TitleHeader">
               <h4>View Programs</h4>
            </div>
            <div class="viewProgramsMultilineSelect">
                <q id="displayStatus"></q>
               <select multiple id="selectProgram">
               <option value="-1" style="display: none" selected></option>
               </select>
               <br>
                <button onclick="displayProgramDetails()" class="commonBtn" >View Details</button>
                <a href="/programs/create"><button class="commonBtn" >Add Program</button></a>
                <button onclick="removeProgram()" class="commonBtn" style="width: 150px;" >Remove Program</button>
                <button  onclick="removeAllFilters()" class="commonBtn">No Filters</button>
               <br>
              
            </div> <!--End of div viewProgramsMultilineSelect -->
            <div class="filterByInViewPrograms" align="right">
               <h2 style="margin: 3px 5px;" align="center"> Filter By </h2> 
               <div style="margin: 20px 5px;">
               Program Name: <input type="text" id="programName" class="addUserInput" placeholder="Search by name..."/><button onclick="filterByName()" class="commonBtn">Find</button> 
                 <!--form name="search" method="post" action="/programs/search">
                  Program Name: <input type="text" name="text" class="commonTxtBoxCSS" placeholder="Search by name..."/><input class="commonBtn3InViewPrograms" type="submit" value="Find"/>
                  </form-->
               </div>
               <div style="margin: 20px 5px;">
                   Institution:
                  <select id="InstitutionListFilter" class="CmbBox">
                     <option value="-1" style="display: none"> Select Institute </option>
                  </select><br>
                 <input type="button" value="Apply Filter" class="commonBtn" onclick="instituteFilter()">  
                </div>
                <div style="margin: 20px 5px;">
                  Filter By State: 
                  <select class="CmbBox" id="InstitutionStateFilter" onchange="populateCity()">
                     <option value="-1" style="display: none"> Select State </option>
                  </select><br>
                    Filter By City:
                  <select class="CmbBox" id="InstitutionCityFilter">
                     <option value="-1" style="display: none"> Select City </option>
                  </select><br>
                  <input type="button" value="Apply Filter" class="commonBtn" onclick="locationFilter()">  
               </div>
               <div style="margin: 20px 5px;">
                   Degree Type:
                  <select  id = "DegreeListFilter" class="CmbBox">
                     <option value="-1" style="display: none"> Select Degree</option>
                  </select><br>
                  <input type="button" value="Apply Filter" onclick="degreeFilter()" class="commonBtn"> 
               </div>
               <div style="margin: 20px 5px;">
               
                 CAE Designation:
                  <select  id ="DesignationsFilter" class="CmbBox" style=" width: 280px;">
                     <option value="-1" style="display: none"> Select Designations</option>
                   </select><br>
                  <input type="button" value="Apply Filter" class="commonBtn" onclick="designationFilter()"> 
               </div>

               <br>
               
            </div><!--End of div filterBy -->
         
         </div> <!--End of View Program Container-->
  <div id="programs" style="display: none">
    {% for program in programs %}
    <div id="p_{{ program.id }}">
      <a href="#" onclick="return displayProgram( {{ program.id }} );">{% if program.institution %}{{ program.institution.name }} - {% endif %}{{ program.title }}</a>
      <div id="pv_{{ program.id }}" style="display: none;">
        <br/>
        {% if program.credits %}
        <strong>Credits:</strong> {{ program.credits }}<br/>
        {% endif %}
        {% if program.institution %}
        <strong>Institution:</strong> <a href="/institutions/id/{{ program.institution.id }}/view">{{ program.institution.name }}</a><br/>
        {% endif %}
        {% if program.degree %}
        <strong>Degree:</strong> <a href="/degrees/id/{{ program.degree.degree_id }}/view">{{ program.degree.title }}</a><br/>
        {% endif %}
        {% if program.type %}
        <strong>Type:</strong> {{ program.type }}<br/>
        {% endif %}
        {% if program.designation %}
        <strong>Designation:</strong> {{ program.designation.title }}<br/>
        {% endif %}
        {% if program.curriculumCode %}
        <strong>Curriculum Code:</strong> {{ program.curriculumCode }}<br/>
        {% endif %}
        {% if program.url %}
        <strong>URL:</strong> <a href="{{ program.url }}">{{ program.url }}</a><br/>
        {% endif %}
        <button onclick="hideProgram( {{ program.id }} )">Close</button>
        <button onclick="window.location.href='/programs/id/{{ program.id }}/update'">Edit</button>
        <button onclick="deleteProgram( {{ program.id }} )">Delete</button>
        <br/>
        <q id="pw_{{ program.id }}" class="warning" style="display: none;"></q>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
