<div>
  <h2>Manage Programs</h2>
  <div>
    <div style="display:inline-block; float: left; padding: 10px;"><a href="/programs/create" style="float: left;">Create Program</a></div>
    <div style="display:inline-block; overflow: hidden; width: 100px;"></div>
    <div style="display:inline-block; float: right; padding: 10px;">
      <form name="search" method="post" action="/programs/search">
      <input type="text" name="text" placeholder="Search by name..."/><input type="submit" value="Find"/>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div>
  {% if searchText %}
  <h3>Search results for ({{ searchText }})</h3>
  {% endif %}
  <ul>
    {% for program in programs %}
    <li><a href="/programs/id/{{ program.program_id }}/view">{{ program.title }}</a> - <form action="/programs/remove" method="post" style="display: inline-block;">
      <input type="hidden" name="id" value="{{ program.program_id }}"/>
      <input type="submit" value="Delete" />
    </form>
    </li>
  </ul>
  {% endfor %}
</div>
