<script type="text/javascript">
    let programs = {{programs}};
    var programList = [];
    var institutionList = [];
    
     getPrograms();
     function getPrograms()
        {
            let xhr = new XMLHttpRequest();
            xhr.open( 'POST', '/programs' );
            xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
            xhr.onload = function ()
            {
              if ( xhr.status === 200 )
              {
                console.log( xhr.responseText );
                programList = JSON.parse( xhr.responseText );
                  populateProgramSelect();
                  populateInstituteSelect();
                  //populateInstitutionStateSelect()
                  populateDegrees();
                  populateDesignations();
                  
              }
              else
              {
                console.log( `Unable to retrieve Program list.  Server returned status: ${xhr.status}` );
              }
            };
            xhr.send( '' );
        }

        function populateProgramSelect()
        {
             
           let element = document.getElementById('selectProgram');
           let option = document.createElement( 'option' );
            
            for (var i = 0; i < programList.length; ++i)
                {
                    let option = document.createElement( 'option' );
                    option.value = programList[i].id;
                    option.textContent = programList[i].title +" - "  + programList[i].institution.name + " - " + programList[i].degree.title;
                    element.appendChild( option );
                }
        }
       
    retrieveInstitutions();
    
    function retrieveInstitutions(){
         let xhr = new XMLHttpRequest();

         xhr.open( 'POST', '/institutions' );
         xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
         xhr.onload = function ()
         {
           if ( xhr.status === 200 )
           {
             console.log( xhr.responseText );
             institutionList = JSON.parse( xhr.responseText );
               populateInstitutionStateSelect();
               console.log(institutionList + " Retrieved");
           }
           else
           {
             console.log( `Error retrieving institution list.  Server returned status: ${xhr.start}` );
           }
         };
         xhr.send( '' );
       }
        
        function populateInstituteSelect()
        {
           let element = document.getElementById('InstitutionListFilter');
            var id = [];        // This is used for getting id from html
            var names = [];     // This is used for getting name from html
            var uniquesID = []; // This array is used to store unique id without repeatation
            var uniquesName = []; // This array is used to store unique names without repeatation
             
            for (var i = 0; i < programList.length; ++i){
                        id[i] = programList[i].institution.id;
                        names[i] = programList[i].institution.name;
             }
            $.each(names,function(i,el){
                if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
            });
            $.each(id,function(i,el){
                if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
            });
            for (var i = 0; i < uniquesName.length; ++i)
            {
                let option = document.createElement( 'option' );
                option.value = uniquesID[i];
                option.textContent = uniquesName[i];
                element.appendChild( option );
            }
       }
      
    function populateDegrees(){
            let element = document.getElementById('DegreeListFilter');
            var id = [];
            var names = [];
            var uniquesID = [];
            var uniquesName = []; 
             for (var i = 0; i < programList.length; ++i){
               id[i] = programList[i].degree.id;
               names[i] = programList[i].degree.title ;
              
             }
            $.each(names,function(i,el){
                if($.inArray(el, uniquesName) === -1 ) uniquesName.push(el);
            });
            $.each(id,function(i,el){
                if($.inArray(el, uniquesID) === -1 ) uniquesID.push(el);
            });
            for (var i = 0; i < uniquesName.length; ++i){
                    let option = document.createElement( 'option' );
                    option.value = uniquesID[i];
                    option.textContent = uniquesName[i];
                    element.appendChild( option );             
            }
    }
    
    function populateInstitutionStateSelect(){
        let element = document.getElementById('InstitutionStateFilter');
       let option = document.createElement( 'option' );
        for (var i = 0; i < institutionList.length; ++i){
            //
            let option = document.createElement( 'option' );
             option.value  = i;
             option.textContent= institutionList[i].state;
            element.appendChild( option );  
            console.log(programList[i].institution.name + " retrieved");
        }
    }
    function populateDesignations(){
         let element = document.getElementById('DesignationsFilter');
           
            for (var i = 0; i < programList.length; ++i)
                {
                    let option = document.createElement( 'option' );
                    option.value = programList[i].designation.id;
                    option.textContent = programList[i].designation.title ;
                    element.appendChild( option );             
                }
    }
   

  
  
  /*The code from Rakesh.*/
  
  function displayProgram( programId )
  {
    document.getElementById( `pv_${programId}` ).style.display = 'inline';
    return false;
  }

  function hideProgram( programId )
  {
    document.getElementById( `pv_${programId}` ).style.display = 'none';
  }

  function deleteProgram( programId )
  {
    function displayWarning()
    {
      let warning = document.getElementById( `pw_${programId}` );
      warning.style.display = 'inline';
      warning.innerText = 'Unable to delete program.  Please try again later.'
    }

    if ( !confirm( 'Do you wish to permanently delete program?' ) ) return false;

    let xhr = new XMLHttpRequest();
    xhr.open( 'POST', '/programs/remove' );
    xhr.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
    xhr.onload = function ()
    {
      if ( xhr.status === 200 )
      {
        console.log( xhr.responseText );
        let json = JSON.parse( xhr.responseText );
        if ( json.status )
        {
          let element = document.getElementById( `p_${programId}` );
          element.parentNode.removeChild( element );
        }
        else displayWarning();
      }
      else
      {
        console.log( `Delete program response status: ${xhr.status} ${xhr.statusText} text: ${xhr.responseText }` );
        displayWarning();
      }
    };
    xhr.send( `id=${programId}` );
    return false;
  }
    
    function removeProgram(){
        let select = document.getElementById('selectProgram');
        let programId = select.options[select.selectedIndex].value;
        let programName = select.options[select.selectedIndex].text;
        let xhr = new XMLHttpRequest();
        
        if(programId == -1)
            {
                alert("Please select a Program to Remove");
            }
        else{
              if( window.confirm("Are you sure you want to delete " + programName + " ?"))
              {
                xhr.open('PUT' , '/programs/remove' );
                xhr.setRequestHeader('content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function()
                {
                    if (xhr.status === 200 )
                        {
                            console.log(xhr.responseText );
                            let json = JSON.parse( xhr.responseText );
                            if(json.status && json.count === 1 )
                                {
                                    select.remove(select.selectedIndex);
                                     console.log(programName + " is now Sucessfully deleted!");
                                }
                            else
                                {
                                    console.log("Error Deleting this person");         
                                }
                        }
                    else
                    {
                        console.log("xhr status is not 200");
                    }
                };
                xhr.send (`id=${programId}` );
             }
        }
    }
        
        function displayProgramDetails(){
        let select = document.getElementById('selectProgram');
        let programId = select.options[select.selectedIndex].value;
        let programName = select.options[select.selectedIndex].text;
        
        if(programId == -1)
            {
                alert("Please select a Program to view details");
            }
        else{
                window.location.href = `/programs/id/${ programId }/view` ;
            }
      
        }
        
    function instituteFilter(){
        let select = document.getElementById('InstitutionListFilter');
        let institutionId = select.options[select.selectedIndex].value;
        let institutionName = select.options[select.selectedIndex].text;
   
        removeAllPrograms();
         for (var i = 0; i < programList.length; ++i){
            if (programList[i].institution.name  == institutionName)   //If the institution Name from select box is same as the one in programList.
                {
                    let element = document.getElementById( 'selectProgram' );
                    let option = document.createElement( 'option' );
                      option.value = programList[i].id;
                      option.textContent = programList[i].title +" - " + programList[i].institution.name + " - " + programList[i].degree.title;
                      element.appendChild( option );
                }
             else{
                //delete programList[i] ;
             }
        }
       
        
    }
    
    function degreeFilter(){
        
        let select = document.getElementById('DegreeListFilter');
        let degreeId = select.options[select.selectedIndex].value;
        let degreeName = select.options[select.selectedIndex].text;
         removeAllPrograms();
        for (var i = 0; i < programList.length; ++i){
               if (programList[i].degree.title  == degreeName)   //If the Degree Name from select box is same as the one in programList.
                   {
                      let element = document.getElementById( 'selectProgram' );
                      let option = document.createElement( 'option' );
                      option.value = programList[i].id;
                      option.textContent = programList[i].title +" - " + programList[i].institution.name + " - " + programList[i].degree.title;
                      element.appendChild( option );
                   }
            else{
                //delete programList[i] ;
             }
        }
        //removeAllInstitutions();
    }
    
     function removeAllPrograms(){
        
            let element = document.getElementById( 'selectProgram' );
           while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
    }
    
    function removeAllInstitutions(){
        let element = document.getElementById('InstitutionListFilter');
        while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
    }
</script>

<div style="min-height: 700px; margin-left: auto;margin-right: auto;">
  <h2>Manage Programs</h2>
  <!--div>
    <div style="display:inline-block; float: left; padding: 10px;"><a href="/programs/create" style="float: left;">Create Program</a></div>
    <div style="display:inline-block; overflow: hidden; width: 100px;"></div>
    <div style="display:inline-block; float: right; padding: 10px;">
      <form name="search" method="post" action="/programs/search">
      <input type="text" name="text" placeholder="Search by name..."/><input type="submit" value="Find"/>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div-->
  {% if searchText %}
  <h3>Search results for ({{ searchText }})</h3>
  {% endif %}
     <div class="viewProgramContainer" style="min-height: 600px; width: 1100px;">
            <div class="TitleHeader">
               <h4>View Programs</h4>
            </div>
            <div class="viewProgramsMultilineSelect">
               <select multiple id="selectProgram">
               <option value="-1" style="display: none" selected></option>
               </select>
               <br><br>
                <button onclick="displayProgramDetails()" class="commonBtn2InViewPrograms" >View Program Detail</button>
                <a href="/programs/create"><button class="commonBtn2InViewPrograms" >Add Program</button> </a>
                <button onclick="removeProgram()" class="commonBtn2InViewPrograms" >Remove Program</button>
               <br>
              
            </div> <!--End of div viewProgramsMultilineSelect -->
            <div class="filterByInViewPrograms" align="right">
               <h2 id="filterByHeader"> Filter By </h2>
               <fieldset>
                 <form name="search" method="post" action="/programs/search">
                  Program Name: <input type="text" name="text" class="commonTxtBoxCSS" placeholder="Search by name..."/><input class="commonBtn3InViewPrograms" type="submit" value="Find"/>
                  </form>
               </fieldset>
               <fieldset>
                   Institution:
                  <select class="commonCmbBoxCSS" id="InstitutionListFilter">
                     <option value="-1" style="display: none"> Select Institute </option>
                  </select>
                 <input type="button" value="Apply Filter" class="commonBtn3InViewPrograms" onclick="instituteFilter()">  
                </fieldset>
                <fieldset>
                  Filter By State: 
                  <select class="commonCmbBoxCSS" id="InstitutionStateFilter">
                     <option value="-1" style="display: none"> Select State </option>
                  </select><br>
                    Filter By City:
                  <select class="commonCmbBoxCSS" id="InstitutionCityFilter">
                     <option value="-1" style="display: none"> Select City </option>
                  </select>
                  <input type="button" value="Apply Filter" class="commonBtn3InViewPrograms" onclick="#">  
               </fieldset>
               <fieldset>
                   Degree Type:
                  <select class="commonCmbBoxCSS" id = "DegreeListFilter">
                     <option value="-1" style="display: none"> Select Degree</option>
                  </select>
                  <input type="button" value="Apply Filter" onclick="degreeFilter()" class="commonBtn3InViewPrograms"> 
               </fieldset>
               <fieldset>
               
                 CAE Designation:
                  <select class="commonCmbBox3CSS" id ="DesignationsFilter">
                     <option value="-1" style="display: none"> Select Designations</option>
                   </select>
                  <input type="submit" value="Apply Filter" class="commonBtn3InViewPrograms"> 
               </fieldset>
               <br>
               
            </div><!--End of div filterBy -->
         
         </div> <!--End of View Program Container-->
  <div id="programs">
    {% for program in programs %}
    <div id="p_{{ program.id }}">
      <a href="#" onclick="return displayProgram( {{ program.id }} );">{% if program.institution %}{{ program.institution.name }} - {% endif %}{{ program.title }}</a>
      <div id="pv_{{ program.id }}" style="display: none;">
        <br/>
        {% if program.credits %}
        <strong>Credits:</strong> {{ program.credits }}<br/>
        {% endif %}
        {% if program.institution %}
        <strong>Institution:</strong> <a href="/institutions/id/{{ program.institution.id }}/view">{{ program.institution.name }}</a><br/>
        {% endif %}
        {% if program.degree %}
        <strong>Degree:</strong> <a href="/degrees/id/{{ program.degree.degree_id }}/view">{{ program.degree.title }}</a><br/>
        {% endif %}
        {% if program.type %}
        <strong>Type:</strong> {{ program.type }}<br/>
        {% endif %}
        {% if program.designation %}
        <strong>Designation:</strong> {{ program.designation.title }}<br/>
        {% endif %}
        {% if program.curriculumCode %}
        <strong>Curriculum Code:</strong> {{ program.curriculumCode }}<br/>
        {% endif %}
        {% if program.url %}
        <strong>URL:</strong> <a href="{{ program.url }}">{{ program.url }}</a><br/>
        {% endif %}
        <button onclick="hideProgram( {{ program.id }} )">Close</button>
        <button onclick="window.location.href='/programs/id/{{ program.id }}/update'">Edit</button>
        <button onclick="deleteProgram( {{ program.id }} )">Delete</button>
        <br/>
        <q id="pw_{{ program.id }}" class="warning" style="display: none;"></q>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
