<div>
<h3>Title: {{ object.title }}</h3>
{% if object.credits %}
<strong>Credits:</strong> {{ object.credits }}<br/>
{% endif %}
{% if object.institution %}
<strong>Institution:</strong> <a href="/institutions/id/{{ object.institution.institution_id }}/view">{{ object.institution.name }}</a><br/>
{% endif %}
{% if object.degree %}
<strong>Degree:</strong> <a href="/degrees/id/{{ object.degree.degree_id }}/view">{{ object.degree.title }}</a><br/>
{% endif %}
<span>
<form id="details" method="post" action="/programs/id/{{ object.program_id }}/update" style="display: inline-block;">
<input type="submit" value="Edit"/>
</form>
<form action="/programs/remove" method="post" style="display: inline-block;">
<input type="hidden" name="id" value="{{ object.program_id }}"/>
<input type="submit" value="Delete" />
</form>
</span>
</div>
